[2017-12-07 08:08] PierreAnctil opened #3 "Open catalog by URL keeps loading"
When you open the catalog by using direct URL, the page loads infinitely

![2017-12-07_09-03-59](https://user-images.githubusercontent.com/6544411/33704756-f71e143e-db2d-11e7-8d74-d90eab22da82.gif)

[2017-12-21 08:30] PierreAnctil opened #4 "Standard sets access by URL fail"
![2017-12-21_09-29-36](https://user-images.githubusercontent.com/6544411/34247080-8f365908-e631-11e7-9349-3fd922961cd8.gif)

[2017-12-21 08:57] PierreAnctil opened #5 "Supplier and status per skill"
- Status already per skill.
- Need to add supplier per skill
- Need UI to modify both

[2017-12-21 09:04] PierreAnctil opened #6 "Approval process"
- A recommendation level permission
- User interface to be on public view
- Allow multiple recommendations
- Provide reason for rejection of recommendation
- Recommended items are not shown in IL public view
- Can recommend new item, remove item, change item
- Does not create an item in the catalogue until the recommended item is approved and becomes a requested item
- Recommendation fields:
  - d

[2017-12-21 09:16] PierreAnctil opened #7 "Categories"
- Add sub category
- Add user interface for managing categories
- Set tier/priority level of each item

[2017-12-21 09:20] PierreAnctil opened #8 "Mass edit tool"
Allow infrastructure lines (requested items) to be globally searched and mass edited

[2017-12-21 09:20] PierreAnctil opened #9 "Export IL"
- Add filters
- Add view of what will be exported

[2017-12-21 09:21] PierreAnctil commented on #9
closely related to #8

[2017-12-21 10:35] PierreAnctil opened #10 "Data translation"
@worldskills/geeks

As far as I know, the API and DB are ready for multilingual strings.

However I see many labels are `String` and not `I18nString` (`ItemSet` description as an example). Is there a reason behind it or is it a work in progress?

Regarding the UI I do not see any way to input several languages for a given label. How are translations supposed to be managed for data?

[2017-12-21 14:49] gbervik commented on #10
If some fields are not an `I18nString` and you think they should be then feel free to refactor them. The example you give would make sense to be an `I18nString`

For the UI some of our other projects make use of `angular-translate`. For example, see https://github.com/worldskills/worldskills-organizations

[2017-12-21 15:30] PierreAnctil commented on #10
Yes we are currently working with it to translate WSIL UI.
However that seem to be mainly aimed at translating static content and with some tweaks **display** translated data (but the API should already allow that without tweaks).
The real question is when an item (example) is created in a given language, where, when, by whom and how will the data be translated ?
A way to do it is to create a dedi

[2017-12-21 16:06] PierreAnctil opened #11 "Customize logo"
@WorldSkillsFrance has expressed the need do display the logo of worldskills france instead of the international logo.

![worldskills-france-small](https://user-images.githubusercontent.com/6544411/34263859-2d78053c-e671-11e7-94b8-401e617ed48d.jpg)

The current international logo is managed as base64 in the common CSS so that doesn't seem possible without changes.

Since it would have to be data-d

[2017-12-22 08:06] fabian commented on #11
No, we don't have any option to change the logo at the moment.

The logo used is actually not the WorldSkills International logo, but the logo of the WorldSkills movement, so it would apply to all Members of WorldSkills.

Adding a new logo field to the Event wouldn't solve the problem in all cases, as depending on the use case sometimes a different color version of the logo is needed.

I honestly

[2017-12-22 13:29] PierreAnctil commented on #11
@WorldSkillsFrance are you OK with that ?

[2017-12-22 13:49] gbervik commented on #11
I spoke with David Hoey about this earlier today, and we are not going to allow the removal of the WorldSkills logo.

One option may be to have an additional logo like we allow with the CIS software.

[2017-12-22 14:00] gbervik commented on #10
I don't think a dedicated application for translating text is the way to go. The text should really be translated in context so that the translator has a full picture of what they are translating. I would prefer to have some type of language switcher on the form. So, for example, the user creates an item, then switches language and uses the same form to enter data for a new language.

@fabian also

[2017-12-22 14:10] PierreAnctil opened #12 "French translation"

[2017-12-22 14:39] PierreAnctil opened #13 "Import FR catalog data"

[2017-12-22 14:54] fabian commented on #10
Here are some examples how I implemented the translation of the Skill descriptions:

h3. Skill with English as base language

![screenshot 2017-12-22 15 51 57](https://user-images.githubusercontent.com/13346/34302209-472d1c6e-e730-11e7-8cff-ed4d0c6c274d.png)

h3. Translations overview

![screenshot 2017-12-22 15 52 03](https://user-images.githubusercontent.com/13346/34302227-544ef912-e730-11e7-97d

[2018-01-09 16:27] AxioBen commented on #13
@fabian Is there any preference to do this import ? A file format (Sql, csv) with maybe a specific syntax ? And how do you want to get this import ? Just a file then you can deal with it, a file in a specific folder inside API project ? Or something else that can help you to easily deploy it afterwards.

[2018-01-09 18:29] fabian commented on #13
@AxioBen We only have some basic import code in https://github.com/worldskills/API-Infrastructure-List/blob/4d2d680aab98df4f879dda92f184c0ff5fd87a37/src/test/java/org/worldskills/api/il/db/ImportRequestedItems.java which reads an Excel file (see `import2_togo.xlsx`).

Maybe AxioCode could develop an import resource in the web service based on the existing code so the import could happen via the we

[2018-01-10 08:45] WorldSkillsFrance commented on #11
Hi everyone,
Ok Adam, sounds great, I'm happy with that option.

[2018-01-12 08:29] azanetti commented on #13
@fabian not sure this issue has to be closed... I think you should closed #12 instead.

[2018-01-12 08:30] fabian commented on #13
@azanetti This issue was automatically closed when I merged the pull request #14 because the description references this issue.

[2018-01-12 08:30] azanetti commented on #13
@fabian yes @AxioBen mentioned the wrong issue in the commit...

[2018-01-16 15:13] WorldSkillsFrance commented on #10
Hi all
ok for Fabian solution

[2018-01-17 07:46] PierreAnctil opened #16 "debug message when deleting an item from the catalog"
![image](https://user-images.githubusercontent.com/6544411/35031339-c8738a56-fb62-11e7-8664-308accc7b418.png)

[2018-01-17 07:53] PierreAnctil commented on #5
@worldskills/geeks
According to @WorldSkillsFrance "Need to add supplier per skill" implies to add all Supplier related fields on skill items:
![image](https://user-images.githubusercontent.com/6544411/35031417-21686b04-fb63-11e7-9ad8-fb1b4b09bcb5.png)

The way I see it, we should split the skill item edition into 2 tabs.
The first tab will be "General"
![image](https://user-images.githubuserconte

[2018-01-17 07:54] PierreAnctil commented on #5
@WorldSkillsFrance Maybe the supplier name also need to appear in the skill items list ?

[2018-01-17 15:35] PierreAnctil commented on #7
@WorldSkillsFrance can you explain what

implies ?

Should we add a new field in the catalog items ?

[2018-01-17 15:45] fabian commented on #5
@PierreAnctil I wonder if it makes sense to add all those fields in the database to the table `requested_item`?

Keep in mind that requested items are an abstract description of what the Skill expects, supplied items then describes the physical item supplied more in detail.

- **Supplier**: This field already exists, "Potential supplier".

- **Supply type**: This could make sense in the requested

[2018-01-17 16:17] WorldSkillsFrance commented on #7
Hi
Priority will have to be for each item and will be registered / modified in the catalog

[2018-01-18 09:16] PierreAnctil opened #17 "globalization issues"
Firstly there is no default language defined when the user accesses the application for the first time:

![image](https://user-images.githubusercontent.com/6544411/35089736-202fcd24-fc38-11e7-9d65-ebf8c04faf05.png)

We should default to the browser locale and then to en-US.

Secondly, when we select an incomplete language, there is no fallback language when the texts are not translated

![image](h

[2018-01-18 14:22] fabian commented on #5
I just had a quick chat with @WorldSkillsFrance (Simon) and we discussed the proposed solution of having an editing interface for the supplied item in the Skill view.

This would only show when you have the permissions to edit supplied items but would include **Supplier**, **Supply type**, **Unit cost**, and **PO Number**. There also needs to be an option to replace the supplied item with a new su

[2018-01-18 15:40] PierreAnctil commented on #5
@fabian OK thanks for the details.

Did you also agree on the fact that we will have a *potential supplier* in the *General* tab and an actual *supplier* in the Hosts tab?

[2018-01-18 15:45] fabian commented on #5
@PierreAnctil Ah yes, we also quickly discussed **Potential supplier** and we think it makes sense to keep them both to separate between a proposed supplier and the actual supplier.

Also I would name the new tab __Supplied Item__ to avoid confusion.

[2018-01-22 00:54] gbervik commented on #17
Also can we change from `en_US` to `en` and `fr_FR` to `fr` so that they are not country specific?  For example, it would make sense for someone with a browser locale of `fr_BE` to get the French translation rather than the default.

[2018-01-22 06:40] PierreAnctil commented on #5
@fabian @WorldSkillsFrance if modifying the supplier related data created a new supplied item, we will en up having 2 supplied items with the same name but different data. Is that OK? Or should we force the user to change the item name in this case?

[2018-01-22 07:18] fabian commented on #5
@PierreAnctil Modifying the supplied item data should not automatically create a new supplied item. If the user explicitly creates a new supplied item with the same name we accept that.

Also note that only users with the right permissions can modify supplied item data.

[2018-01-24 19:02] #7 closed

[2018-01-25 07:57] #17 closed

[2018-01-25 08:00] #16 closed

[2018-01-25 16:10] PierreAnctil commented on #8
@worldskills/geeks @WorldSkillsFrance
It has been agreed with @WorldSkillsFrance that the following fields would be mass editable:
- Status
- supplier
- price
- Energy (Volts, etc.)
- Category

However, the energy data is related to a supplied item (catalog) and not to a requested item. That may be because @WorldSkillsFrance wanted this field to be on requested item.

So what should we do?
- make

[2018-01-29 17:34] fabian opened #21 "Add Supplier API"

[2018-01-29 17:37] fabian opened #22 "Create new catalog item in requested item view"
- [ ] Allow to define new catalogue item when adding a new requested item. When defining the requested item can search within the catalogue and pick one. If it doesn’t exist, can define a new catalogue item with the specific data (manufacturer, model, etc). The catalogue form will appear next to the requested item form.
- [ ] Add ability to create a copy of a catalogue item and change what is link

[2018-01-29 17:39] fabian opened #23 "Create mobile app"
- Barcodes
- Scan when arrive, deployment to workshop, etc
- Report issues, take photos

[2018-01-29 17:39] fabian opened #24 "Create infrastructure report"

[2018-01-29 17:40] fabian opened #25 "Create skill build plan"

[2018-01-29 17:41] fabian opened #26 "Non-workshop locations"

[2018-01-29 17:42] fabian opened #27 "Add audit view"

[2018-01-29 17:42] fabian opened #28 "Track history"

[2018-01-30 11:28] fabian opened #29 "Allow images to be added to requested items"

[2018-01-30 11:51] fabian opened #30 "Switch from position based roles to permission roles"
Proposed new roles:

- `EditRequestedItems`
- `EditSuppliedItems`
- `EditSuppliers`

[2018-01-30 13:37] fabian opened #31 "Add Competitor numbers fallback if registration numbers are missing"
Quanity per list/skill

[2018-01-30 15:35] fabian opened #32 "Have event specific statuses"
Each event has it's own list of statuses which have a name, color, and wether editing the requested item is still allowed.

[2018-01-31 07:18] PierreAnctil commented on #13
Here is the final version of the catalog to import

[Catalog IL-V6(ready for import).xlsx](https://github.com/worldskills/worldskills-infrastructure-list/files/1680725/Catalogue.IL-V6.pret.pour.import.xlsx)

[2018-01-31 07:19] PierreAnctil commented on #13
@JonathanVanRaemdonck can you import the cayalog in staging so we can check that everything is fine?

[2018-01-31 14:49] PierreAnctil commented on #10
Permissions would also need to be translated

Display in IL:

![chrome_2018-01-31_15-46-58](https://user-images.githubusercontent.com/6544411/35629182-3f336198-069e-11e8-9c9d-975b8b8d1bad.png)

[2018-01-31 14:50] PierreAnctil commented on #10
And also event names

[2018-01-31 15:15] PierreAnctil commented on #10
and also categories

[2018-01-31 16:32] JonathanVanRaemdonck commented on #13
Here is a formatted version of that final file that works for the import routes for item categories and items :

[catalogue.xlsx](https://github.com/worldskills/worldskills-infrastructure-list/files/1682434/catalogue.xlsx)

[2018-02-05 18:39] fabian commented on #5
Reopening automatically closed issue.

[2018-02-06 06:35] PierreAnctil commented on #10
and Item status
and quantity unit

NB: Quantity unit could be translated in the front since this seems a static list of values. But since Item status will become configurable for each event, it can only be translated in the DB.

[2018-02-06 06:42] PierreAnctil commented on #10
To sum it up, in order to have IL fully translated, we now have to provide a translation UI for:

- item name
- item statuses
- item quantity units
- item category name
- item subcategory name
- event name
- category name
- permissions
- skill name (already implemented)

@worldskills/geeks how do you think we can do that without repeating the very same work each time?

( Having a dedicated applica

[2018-02-06 10:32] PierreAnctil commented on #8
@worldskills/geeks @WorldSkillsFrance  I still need an answer on the above question.

Can you also state if the "supplier" field is the potential supplier or the supplier on the supplied item (In which case the previous question has to be answered again).

[2018-02-06 10:46] gbervik commented on #10
The ideal would be to have a re-usable angular component that we could drop in whenever we have a translatable piece of text. So it would basically be a text field and a language picker.

[2018-02-06 15:55] PierreAnctil commented on #6
@worldskills/geeks @WorldSkillsFrance
What does "wrong supplied item checkbox" represents in the recommandation fields ?

I guess comment and images are new data attached to the recommandation as a context ?

[2018-02-06 16:39] fabian commented on #8
I think it's dangerous to update the supplied item in a mass edit action as that's not transparent to the user. I think we should make the energy data not mass editable in the requested items view.

If multiple requested item would get the exact same energy data, they should maybe be linked to the same supplied item.

If multiple supplied item should get the exact same energy data we should probab

[2018-02-06 16:43] fabian commented on #6
@PierreAnctil The idea with "wrong supplied item checkbox" was that if a requested item has been approved and linked to a supplied item, the user can flag that the supplied item does not match to what was requested.

Comment would be part of the recommendation and images would be attached.

[2018-02-07 07:13] PierreAnctil commented on #6
Thanks @fabian

Now lets validate the requested item update workflow.

There are 2 sources of update:
- recommandations (possibly multiple a the same time)
- direct edition

To keep it simple, I suggest that
- each validated recommandation updates the requested item
- when an item is updated pending recommandations are kept
- a recommandation shows a diff between the **current** requested item (an

[2018-02-07 08:18] PierreAnctil opened #33 "Escaped message"
![image](https://user-images.githubusercontent.com/6544411/35905513-b99008c6-0be7-11e8-9619-75fcdfce3dfe.png)

[2018-02-07 14:22] WorldSkillsFrance commented on #5
Hi Fabian, i just end a conversation with Pierre, and i want to be sure about something.
All informations mentioned above are not anymore in the catalogue but on every lines on every skills ?
We have this discution because the issue #8

[2018-02-07 14:24] WorldSkillsFrance commented on #8
Hi all, agree with Fabian about the modification of the energy information.
Regarding supplier please reporte to the issue #5 comment

[2018-02-08 16:09] JonathanVanRaemdonck commented on #10
Just like @gbervik mentioned, the idea of an angular component seems to be the best option, both for devs and end users.

With @PierreAnctil , we thought of an input component that could handle data translations where needed. We detailed an initial draft of what it could look like into [this Google Doc](https://docs.google.com/document/d/1fclY7bKUz0vSb42Rs37NQe-AJEzBBLly1nnAs46SSZM/edit?usp=sharin

[2018-02-09 10:38] fabian commented on #6
@PierreAnctil Yes, the proposed workflow makes sense to me.

[2018-02-09 10:40] fabian commented on #5
@WorldSkillsFrance The information is still stored in the **supplied items** ("catalogue"), but editing the information is possible (with the right permissions) in the skill as there is an editing interface for the **supplied item**.

[2018-02-12 09:03] PierreAnctil commented on #7
@WorldSkillsFrance said that the values should probably be a list of static texts like

- Very important
- Important
- Less important
- Not important

The reason is using just an integer would be confusing since users might not know if 1 is the highest or the lowest value.

[2018-02-12 09:04] PierreAnctil commented on #7
@WorldSkillsFrance can you provide us with the list of values to be used?

[2018-02-12 16:37] PierreAnctil commented on #10
So to sum it up a new angular component will be defined allowing to input several languages.

### Definition

The component will basically be an input with a language switch.

![image](https://user-images.githubusercontent.com/6544411/36107195-9e36d1be-1019-11e8-909c-fc39ca327d60.png)

The values on the switch are by default a list of all languages (or subset to be defined) or can be passed as a p

[2018-02-13 02:46] gbervik commented on #10
Sounds good to me. The only thing I would add to that is that when we have a set of required languages we should also allow the addition of other languages. So if French and English are required, we should allow the addition of German and Russian if someone wants to add those too.

[2018-02-13 06:44] PierreAnctil commented on #10
I was not sure about the "The form should not be valid until all required languages are filled." part. Maybe some contributors will be able to translate and then not be able to create items.

It might be more flexible to allow incomplete translations but to display them differently. Maybe a display component which will display the text differently when there are missing translations. This someone

[2018-02-13 08:35] PierreAnctil commented on #6
@WorldSkillsFrance @worldskills/geeks Here are some mockups  of the UI.

Recommandation: https://preview.axiocode.net/worldskills/print-view.html
Validation: https://preview.axiocode.net/worldskills/validation-view.html
Recommandations display in the skill view: https://preview.axiocode.net/worldskills/general-view.html

[2018-02-13 08:36] PierreAnctil commented on #6
cc @JonathanVanRaemdonck

[2018-02-13 12:19] gbervik commented on #10
That's a good point. I like the flexible option.

[2018-02-13 16:52] PierreAnctil commented on #10
**Immediate changes:**

→ item quantity units
translated in IL front

→ item statuses (events)
→ item name (IL)
→ item category name (IL)
→ item subcategory name (IL)
when a user edit a text then the user globally selected language is used as the update target

→ event names
in local language for now

→ categories
→ positions
translated in DB (translations to be sent to @fabian)

The translation c

[2018-02-14 16:56] fabian commented on #31
@WorldSkillsFrance Participants can now be edited: https://il.worldskills.org/#/event/438/skill-participants-override

![screenshot 2018-02-14 17 53 29](https://user-images.githubusercontent.com/13346/36216886-4f579f90-11b0-11e8-8f3c-7ce258107cbd.png)

[2018-02-14 16:56] #31 closed

[2018-02-15 13:29] fabian commented on #5
@PierreAnctil As just discussed with Simon, I will work on https://github.com/worldskills/worldskills-infrastructure-list/issues/22 (Editing of Supplied Item in Requested Item) next to show how the editing of Supplied Items in the Skill view works. We agreed to try this solution and add "shortcut buttons" to help Simon instead of moving the Supplier to the Requested Items.

[2018-02-16 08:25] PierreAnctil commented on #6
@WorldSkillsFrance @worldskills/geeks
Are the mockups OK or does anything need to be changed?
We will be starting the UI dev very soon so we need to know as soon as possible 🙏

[2018-02-16 14:57] fabian commented on #6
@PierreAnctil The proposal looks good! I think we should make this feature optional per event, so we can enable or disable it if needed.

**Recommandation**
- I think the edit and delete button are not totally clear. How about having one "Suggest edit" button instead and then having a "Suggest deletion" button in the modal?

**Validation**
- I think the recommendation requests would be handled by

[2018-02-23 08:01] PierreAnctil opened #38 "Catalog mass edit tool"
Allow supplied item mass editing.

## UI changes:

![image](https://user-images.githubusercontent.com/6544411/36583250-2ae29b4e-1875-11e8-8888-8233748da10a.png)

"Edit selected item" → "Edit selected item(s)"

![image](https://user-images.githubusercontent.com/6544411/36583445-13c795c6-1876-11e8-956c-5db4ebe557c2.png)

"Editing item" → "Editing item(s)"
"Save Item" → "Save Item(s)"

## Behavior ch

[2018-02-23 08:14] PierreAnctil opened #39 "Toggle requested items edition"
A switch should be added on the home page allowing event administrators to block requested items changes for low level users (users that cannot edit supplied items).

[2018-02-23 08:35] PierreAnctil commented on #6
I'm not sure one wanting to remove an item will want to click on "Suggest edit".  Naming the column "Suggestions" and having a tooltip on each button might be better don't you think so ?

That would surely be handy. That may be done in a second time I guess ? We are short on the schedule here 😉

What do you think about that @WorldSkillsFrance  ?

👍

👍

👍
I suggest to add it under the caption area

[2018-02-23 11:11] WorldSkillsFrance opened #40 "Categories are not translate in french"
![image](https://user-images.githubusercontent.com/33081412/36591441-55b8ac1a-1892-11e8-9d46-f440f824dd7b.png)

[2018-02-23 14:24] #13 closed

[2018-02-26 10:27] WorldSkillsFrance opened #41 "People-permission"
Hello, Fabian and Adam,

I hope you are well and have had a great weekend

**BUG 1**
i try to give permission to expert and organizer team but i can't find roles.
![image](https://user-images.githubusercontent.com/33081412/36664697-c3cef07e-1ae5-11e8-9d96-bf591442e834.png)
Arthur ILTIS, could see roles you add but not me.
**BUG 2**
We Also try do a position on Davy Rezeau and when we selected "Wor

[2018-02-26 11:59] fabian commented on #24
In Skill overview list make it possible to filter status numbers by priority.

[2018-02-26 13:05] gbervik commented on #41
It was a permissions problem. I've given you the correct permission now, so it should work for you.

[2018-02-26 13:05] #41 closed

[2018-02-26 13:29] PierreAnctil commented on #10
**Frensh Translations for categories :**
General Installations → Installations générales
Workshop Installations →  Installations d'atelier
Materials / Consumables →  Matériaux / Consommables
Familiarisation materials →  Matériaux de familiarisation
Samples →  Échantillons

**Frensh Translations for positions :**
Workshop Sector Manager →  Référent de pôle
Workshop Manager →  Chef d'atelier
IL Mana

[2018-02-26 13:31] PierreAnctil commented on #40
duplicated with https://github.com/worldskills/worldskills-infrastructure-list/issues/10

[2018-02-26 13:31] #40 closed

[2018-02-26 16:09] WorldSkillsFrance commented on #10
@PierreAnctil  here below my remarques
# **French Translations for categories :**
General Installations → Installations générales
Workshop Installations → **Matériels**
Materials / Consumables → Matériaux / Consommables
Familiarisation materials → **Matériaux de familiarisation (can we mask @gbervik @fabian; if not @PierreAnctil replace by : "Plans"?)**
Samples → Échantillons  - WSFR-Matériel Prép

[2018-02-26 16:14] PierreAnctil commented on #10
thanks @WorldSkillsFrance

@fabian can you please add these translations in the IL database ?

[2018-02-26 16:17] azanetti opened #42 "On Skill Print View page, the link "Back to worldskills.org" is wrong"
The link "Back to worldskills.org" is wrong and redirects to "https://www.worldskills.org/internal/".
It should redirect back to the previous page instead and handle correctly the environment (dev, staging or prod).

![capture d ecran 2018-02-26 a 16 05 47](https://user-images.githubusercontent.com/546856/36677650-05adeb52-1b0f-11e8-880a-9b07833536ff.png)

[2018-02-28 09:53] fabian commented on #10
@WorldSkillsFrance Okay, I've added the translations and the category "Familiarisation materials" is removed from all your lists now.

How important is the translation of the positions for you? Given we will look into cleaning some of the currently confusion around positions and permissions soon, should we wait with those translations to avoid further confusion?

[2018-03-01 10:25] PierreAnctil commented on #39
Remaining questions:
- Where is the cut-off date editable?
- Where is the skill cut-off date editable?
- How is the cut-off date displayed to the users?

[2018-03-01 10:43] fabian opened #43 "Add Supplier to Public View"
Show Supplier of Supplied Item

[2018-03-01 11:00] PierreAnctil commented on #6
Small change:
The caption icons should be changed.
- addition --> (➕)
- edition --> (🖊)
- removal --> (➖)
The color should be gray for all icons.

[2018-03-01 11:03] PierreAnctil commented on #6
NB : Since one should be able to suggest on a category where no items are present yet, people with RECOMMEND permission should see empty categories (to have access to the
![image](https://user-images.githubusercontent.com/6544411/36841418-8b509878-1d48-11e8-9c46-1d717831bd2b.png) button)

[2018-03-01 15:40] WorldSkillsFrance commented on #10
@fabian thx but in staging  or in production i still can see "Familiarisation materials"
![image](https://user-images.githubusercontent.com/33081412/36853314-6eb08162-1d6e-11e8-98b3-fc656ff2bcea.png)

I made a mistake for one of the category names. Could you change "Échantillons  - WSFR-Matériel Prépa Inter" by "WSFR-M2-Matériel Prépa Internationale" (sorry for that)

I also would like to now when

[2018-03-01 15:46] fabian commented on #10
Ah yes sorry, only tested the removal locally but forgot to execute it on staging and production. Done now.

No problem. Done.

Sorry, don't understand your question. Click on "Who-is-who" where exactly?

[2018-03-01 15:48] WorldSkillsFrance commented on #10
[code]
In the oveview of a skills

[2018-03-01 16:00] WorldSkillsFrance commented on #6
Ok works for me, maybe put in a cercle or a square like the WSI edit buttons would be perfect.

[2018-03-02 08:47] fabian commented on #10
Ah I see now. Probably best to remove that link actually.

[2018-03-05 13:09] WorldSkillsFrance commented on #10
@gbervik
**1-**Could you we have the same permission in "positions" & "Permissions?
**2-**Could you put all name in french ?
Guest → Visiteurs
Experts → Experts
Workshop Manager → Chef d'atelier
Skill Competition Manager → Superviseur Technique
Workshop Sector Manager → Référent de pôle
IL Manager → Région Organisatrice « this is rôle « Organizer » in the excel file »
WSFR IL Manager → Admin WSFR

[2018-03-05 14:37] WorldSkillsFrance commented on #10
Yes I understood correctly following your explanations of the last time. I would just like to have the same "architecture/tree" for both (permission & position).
If I talk about that, it's because in the infrastructure lists on the overview tab we see the positions, that's why I want to have the same "architecture/tree" and traduction in french :)

[2018-03-08 06:54] gbervik commented on #10
Hi @WorldSkillsFrance, we can translate that in to French. If you send me the text I'll add it.

[2018-03-09 08:55] WorldSkillsFrance commented on #10
Hi Adam, please find below the french email template
[Trame Mail nouveau compte.docx](https://github.com/worldskills/worldskills-infrastructure-list/files/1796158/Trame.Mail.nouveau.compte.docx)

[2018-03-09 09:48] WorldSkillsFrance commented on #10
Hi all,
Could someone delete the text as in the image if after?
Would it be possible to redirect to http://www.worldskills-france.org/ when you click on the WorldSkills logo?
![image](https://user-images.githubusercontent.com/33081412/37201219-55b00c54-2387-11e8-883d-8dc57c953da6.png)

[2018-03-12 13:47] gbervik commented on #10
@WorldSkillsFrance thanks for the translation, but we can't make those emails specific to WorldSkills France. The logins that are created are used for both the WS France IL and all the WS International applications (and also any other Member that uses our software).

The point is that the user just needs the one login to access applications for WS France, WS International, WS Europe or any other W

[2018-03-19 09:09] PierreAnctil commented on #3
NB when one refreshes the catalog (F5) that seems to be working but the headers translations are lost

![image](https://user-images.githubusercontent.com/6544411/37586729-926c00ac-2b5d-11e8-84db-32b24a693d6c.png)

[2018-03-19 09:22] PierreAnctil commented on #39
Seen with @WorldSkillsFrance

A start date should also be possible to define.

Suggestion are still possible after the cut-off date.

[2018-03-19 09:50] PierreAnctil opened #45 "supplied item autocomplete improvements"
Today when one is creating a requested item and types "table" in the description, many items are suggested but not "Table" even though the item is in the catalog.

The reason is there are many results and their number is limited.

The autocomplete should favor exact matches and then "starts with" matches and at last the "contains" results.

Furthermore the search should only be done on the current

[2018-03-20 08:36] fabian commented on #22
Edit, switching and "splitting" (forking) the supplied item is now possible from the requested item view.

[2018-03-20 08:36] #22 closed

[2018-03-20 11:47] fabian commented on #38
This sounds okay to me.

Would the field then be empty if multiple values are detected for that field? There's an edge case here if someone wants to clear the value in all those items with different values, but it's probably unlikely enough to not implement it.

[2018-03-21 09:12] fabian opened #46 "Allow some attributes to be changed when creating a new Supplied Item"
When a new Requested Item is added, the user can choose to link it to an existing Supplied Item or create a new Supplied Item.

When creating a new Supplied Item, the following attributes of the Supplied Item should be changeable:

- Subcategory
- Needs electricity (new field, checkbox)
- Needs Water supply (new field, checkbox)
- Needs Water drainage (new field, checkbox)
- Compressed air
- Venti

[2018-03-22 15:17] WorldSkillsFrance opened #48 "WSFR Permission People - update"
@gbervik  Could you update the permissions on the different French profiles with the following document:
[FR_IL_permissions_matrix.xlsx](https://github.com/worldskills/worldskills-infrastructure-list/files/1838120/FR_IL_permissions_matrix.xlsx)
You will find in yellow the changes that have been made to the first file.
(Remove permissions for sector manager)

Could you tell me when you made these u

[2018-03-22 17:12] WorldSkillsFrance opened #49 "Open to Expert/WSS/Sector manager edition to Requeste item for a period of time"
Due to the addition of the "ask for a modification" expert, WSS and sector manager can not make any direct changes in the requeste item part and can only make "ask for a modification".

The idea would still be able to give access to the following features for a period of time:
- Edit requested items
- Edit item status
This function would be used for example when CPW when working in a group in fron

[2018-03-22 17:16] WorldSkillsFrance opened #50 "Move Unit of item to Requested item"
Hi Fabian,
As mentioned previously, could you move the record of the "unit" of an item in Requeste item instead of Supplied item ?

Could you make sure that we can have this before our CPW which will take place from April 23 to 28.

[2018-03-22 17:34] WorldSkillsFrance commented on #4
@fabian if I well remember with that we mask this option of "Standard sets". and will take care later. It seems to me that you made this change so may be we could close this issue

[2018-03-22 17:35] WorldSkillsFrance commented on #3
@fabian could you take care of this ?

[2018-03-22 23:33] gbervik commented on #48
I've removed the `EditItemStatus` permission from Sector Manager profile on staging and production, which leaves the following permissions:

`View`
`Recommend`
`Workshop Manager`
`Sector Manager`

@fabian since we don't have an `EditSuppliedItems` permission at the moment, does that mean that I should remove the `Sector Manager` permission?

[2018-03-23 07:36] fabian commented on #11
I personally don't think the additional work and complexity is worth having two WorldSkills logos in the header. There's currently a digital design review in progress and that might change how the header looks like - having two logos there could complicate things. But happy to discuss it during a Zoom session to better understand why a second WorldSkills logo is so important for you.

[2018-03-23 07:37] fabian commented on #4
Yes, not relevant anymore 👍

[2018-03-23 07:37] #4 closed

[2018-03-23 07:55] fabian commented on #48
@gbervik Yes, in fact both `Sector Manager` and `Workshop Manager` should be removed for now.

[2018-03-23 08:11] fabian commented on #42
This view is opened in a new tab from worldskills.org, so going back in history wouldn't always work. I've removed the link instead now.

[2018-03-23 08:11] #42 closed

[2018-03-23 10:34] PierreAnctil commented on #49
seems like a duplicate to https://github.com/worldskills/worldskills-infrastructure-list/issues/39

[2018-03-23 10:35] fabian commented on #49
Ha! I thought we already have this issue, just couldn't find it - thanks Pierre! 😄 Will try to combine the issues next week.

[2018-03-23 10:52] WorldSkillsFrance commented on #11
ok no worries, we will discuss later this if it is necessary (it is not critical either).
We are part of the "WorldSkills movement" to quoted Simon BARTLEY :) , and have no worries about having your logo on our IL.
Can you close the issue for the moment?

[2018-03-23 10:55] #11 closed

[2018-03-23 11:43] gbervik commented on #48
Ok, I've removed `Sector Manager` and `Workshop Manager`. The sector managers only have `View` and `Recommend`

[2018-03-23 13:09] PierreAnctil commented on #32
@fabian shouldn't that be an issue in [events](https://github.com/worldskills/worldskills-events) ?

IL will make usage of the event statuses but [events](https://github.com/worldskills/worldskills-events) is where the statuses will be managed. Am I wrong ?

[2018-03-23 13:11] fabian commented on #32
@PierreAnctil No, we would manage it in IL.

No other system other than IL would care about these IL specific statuses, so no need to have them in the Events API.

[2018-03-26 14:03] WorldSkillsFrance commented on #48
Does sector manager have permissions to do an extraction of IL
Adama, can you tell me what does have expert please ?

[2018-03-27 03:25] gbervik commented on #48
Expert currently only has permissions for `View` and `Recommend`, the same as Sector Manager. I think that means they don't have permission to do an extract, is that correct @fabian ?

[2018-03-27 05:41] fabian commented on #48
Correct, `View` and `Recommend` currently only gives them access to the "public view", e.g. https://il.worldskills.org/#/event/316/skill/489/public

[2018-03-28 08:18] WorldSkillsFrance commented on #48
Ok, does it possible taht sector manager can have access on requested item extraction ?

[2018-03-29 15:51] fabian commented on #48
No sorry, there's no separate permission for accessing the requested items export separately at the moment. We would have to give them access for editing as well. But they can always have a look at the requested items in the public view.

[2018-03-29 16:25] WorldSkillsFrance commented on #48
Yes ok, the idea was that they was able to extract the needs of several skills to find partners.
I would be creat if you could make it possible but is not that urgent

[2018-03-30 11:26] WorldSkillsFrance commented on #33
Hello everyone, Does this is fixed ?

[2018-03-30 14:32] WorldSkillsFrance commented on #21
• Access for external sponsor CRM
• Connects to Events API and uses WSI Auth service API
to register new partners or delete them.
Are Adam, Fabian, "item requeste" and / or "supplied item" connected to this application? Typically when adding a supplier are there any partner fields to propose?
**If yes,**
- Could we add a partner status in the event application?
- Then connect the status of the lin

[2018-04-03 06:45] PierreAnctil commented on #21
@WorldSkillsFrance no items are totally disconnected from the new application.

Axiocode is in charge of that.

[2018-04-03 09:44] WorldSkillsFrance commented on #6
@PierreAnctil

- When experts and WorkShop supervirsor ask for and item which is not on the catalogue can you make sure that in the forme they will have to choose a "Sub categorie"

-  Can you also make sure as discuss in our last zoom meeting that, when someone want to add a line they could add in the righ catégorie they want .
For exemple in the picture below you could add only a item in two cat

[2018-04-03 15:13] fabian commented on #45
I fixed part of this - the search is now done in the current language.

[2018-04-03 15:20] #50 closed

[2018-04-03 15:33] WorldSkillsFrance commented on #45
Ok great, what is still have do be done ?
Did you push in staging and/or production ?

[2018-04-03 15:45] PierreAnctil commented on #6
@WorldSkillsFrance as stated by @fabian suggesting the item subcategory will not be possible since it is related to the supplied item.

Regarding the skills categories this is already how we have been implementing the feature. But thanks for writing it down in the issue 👍

[2018-04-03 15:48] fabian commented on #45
The following still needs to be done, but I understood it has less priority?

I pushed it to staging and will push it to production tomorrow.

[2018-04-03 15:48] WorldSkillsFrance commented on #50
Fabian could you add this unité please :
- Unités
- Boite
- Bottes
- Bouteilles
- Feuilles
- Kit
- Mètre linéaire
- Mètre carré
- Mètre cube

[2018-04-03 15:54] WorldSkillsFrance commented on #45
As discussed with Adam Skype, this is important for us. This will prevent the addition of existing lines in the catalog when adding an item in the requeste item.

[2018-04-03 17:15] fabian commented on #50
@WorldSkillsFrance Can you also provide the English translations?

[2018-04-04 06:28] WorldSkillsFrance commented on #50
Units>Unités
Box>Boite
Boots>Bottes
Bottles>Bouteilles
Leaves>Feuilles
Kit>Kit
Linear meter>Mètre linéaire
Square meter>Mètre carré
Cubic meter>Mètre cube

[2018-04-04 06:47] azanetti commented on #12
@fabian some new features have been added like the "Supplied Item" panel or "Switch Supplied Item"

![capture d ecran 2018-04-04 a 08 44 11](https://user-images.githubusercontent.com/546856/38292534-66fd6be8-37e4-11e8-9388-ea09f303d452.png)

![capture d ecran 2018-04-04 a 08 45 15](https://user-images.githubusercontent.com/546856/38292574-8a211548-37e4-11e8-80d2-35f18256a58b.png)

Some translation

[2018-04-04 09:03] fabian commented on #12
@azanetti Done: https://github.com/worldskills/worldskills-infrastructure-list/commit/c632f79f086b8257f78df166288a4d7e6589d589

[2018-04-04 09:11] fabian commented on #50
@WorldSkillsFrance Okay, I've added them on staging now. I haven't added "Units" as having the Unit "Units" doesn't make sense to me - I would rather leave it empty then. We already have "Pieces" which is maybe what you are looking for?

[2018-04-04 10:19] PierreAnctil commented on #10
@worldskills/geeks the item statuses are missing in staging DB

Confirmed → Confirmé
Pending → En attente
Requested → Demandé
Secret → Secret

[2018-04-04 10:58] WorldSkillsFrance commented on #50
Ok it's a bit different but ok no problem.
Thx

[2018-04-04 11:39] WorldSkillsFrance commented on #10
**I would prefer :**
Confirmed → Confirmé
Pending → En cours
Requested → A rechercher
Secret → Secret

[2018-04-04 11:56] fabian commented on #10
Okay, I've added/updated the translations on staging. Will be deployed on production with the next deployment (probably next week).

[2018-04-04 13:09] fabian commented on #45
@WorldSkillsFrance Can you provide an example where you see the problem happening?

[2018-04-04 13:56] fabian commented on #45
- Search for "Table" in "National Skills Competition, WorldSkills France." on Staging
- "Table" is not in result list.

Could be because there's a limit on the results or because it has the wrong language (locale) key in the database.

[2018-04-04 14:08] fabian commented on #45
I noticed the values for "Table" in the database have the language key `fr_FR`. I assume this happened before we adjusted `Accept-Language` in https://github.com/worldskills/worldskills-infrastructure-list/pull/37.

I have now manually fixed the Table:

[code]

However this doesn't seem to be the issue, as the table is still not found.

Unfortunately there is a limit of 25 items on the search and

[2018-04-04 14:23] azanetti opened #51 "Event overview page: skill names don't refresh when switching language"
Skill names don't change when switching language from the selector at the bottom of the page.

[2018-04-05 06:50] PierreAnctil commented on #51
Globally the data are not reloaded when changing language.

Refreshing the page might be the easiest way, but some pages might not support refresh (assuming all pages support refresh).

[2018-04-05 07:09] PierreAnctil commented on #13
@WorldSkillsFrance the following items have no translation in your import file:
- Brasure
- Tracteur DXJ
- Carton de 100 raclettes
- Couches de cuisson
- Pelles de cuisson

[2018-04-05 07:10] PierreAnctil commented on #13
@WorldSkillsFrance
And "broche" is translated by "????SKEWER?????"

[2018-04-06 09:54] PierreAnctil commented on #7
@WorldSkillsFrance to answer your question all the people having the specific permission **EditItemCategories** can manage item categories and subcategories.

[2018-04-09 07:58] WorldSkillsFrance commented on #13
@PierreAnctil , ok no problem for this missing traduction. we leave like that.

[2018-04-09 08:02] WorldSkillsFrance commented on #7
We don't for ce moment the value in our catalogue. So leave it like that

[2018-04-12 13:28] fabian opened #58 "Redirect user with read only/recommend permission to public view"
At the moment if a read only user tries to access https://il.worldskills.org he only gets an error message and cannot proceed further:

![screenshot 2018-04-12 15 16 06](https://user-images.githubusercontent.com/13346/38680000-812ee528-3e65-11e8-80f0-c2548485a47a.png)

It would be good if the user automatically get redirected to a public of a skill he has access to:

![screenshot 2018-04-12 15 17

[2018-04-12 13:51] fabian commented on #45
Okay, limit increased to 100.

[2018-04-13 04:53] PierreAnctil commented on #58
Since one can access skills public view, one need to be able to list accessible skills.
So in my opinion the list of skills should be turned public and only display accessible elements.
The click on a skill should of course redirect to the skill's public view.

[2018-04-13 05:40] fabian commented on #58
Yes, that works for me too.

[2018-04-13 08:13] fabian commented on #46
Implemented and deployed on staging now.

[2018-04-13 08:13] #46 closed

[2018-04-18 13:59] WorldSkillsFrance commented on #13
@PierreAnctil did you add the new catalogue that you ask for ? I still see some issue

[2018-04-18 14:00] WorldSkillsFrance commented on #45
Thx Fabian

[2018-04-18 14:03] WorldSkillsFrance commented on #12
Hi all,
Could you change traduction of "expert" in EN to "Jury" in FR
![image](https://user-images.githubusercontent.com/33081412/38936823-fc396bd8-4321-11e8-9e06-d9e56350dd44.png)
THX

[2018-04-19 08:32] WorldSkillsFrance opened #64 "Display Management of skills and public view"
Hi all
![image](https://user-images.githubusercontent.com/33081412/38937104-b13d7f6a-4322-11e8-842f-550b7d55ed50.png)
AND
![image](https://user-images.githubusercontent.com/33081412/38937129-c0e73758-4322-11e8-9cc4-1711018e63f5.png)

Could you had on both view (skills and public view)  columns with the following information :
- Unit (after quantity)
- Potential supplier (after item)
- Model (shoul

[2018-04-19 12:05] azanetti commented on #64
@PierreAnctil could you estimate the time needed to add them on both views? Or maybe @fabian will take over it?
@WorldSkillsFrance if we need do it, it is a change request from what has been validated on issue #6 (see mockups in comments), do you agree to be billed separately for that?

[2018-04-19 12:14] gbervik commented on #64
@WorldSkillsFrance we spoke about this yesterday, and Fabian may have time to address this. We spoke about having an expanding view for the extra information.

[2018-04-19 12:36] WorldSkillsFrance commented on #64
This is not about approval process, but this is about add WSI IL to WSFR as righ in our first estimate.
I can not accept any further quote, because I have no more budget.
Moreover in this case has already been estimate in the first quote.
In order to free up time to Axiocode and to be sure that you have finished the approval process. I asked Adam and Fabian to take care of it.
It only remains for

[2018-04-20 07:57] WorldSkillsFrance commented on #10
![image](https://user-images.githubusercontent.com/33081412/39037441-ce28daac-4480-11e8-9802-8d21259addf8.png)
it seemed to me that the language of the infrastructure lists was updated automatically according to the browser. Am I wrong ? (This picture has been made by one user in her first connection)

[2018-04-20 10:33] PierreAnctil commented on #64
@WorldSkillsFrance does the scope of this issue include

- moving the Model from the supplied item to the item requested ?
- making these new fields subject to recommendations (as discussed earlier) ?

@worldskills/geeks I guess the expanding view should be close to what we have in the [recommendation interface](https://staging-il.worldskills.org/#/event/438/recommendations)?

[2018-04-23 06:36] fabian commented on #39
The temporary solution for this is to manually add and remove the permissions to the Expert permission profile in Auth.

[2018-04-23 06:36] #49 closed

[2018-04-24 19:33] fabian opened #67 "Split existing Supplied Item when creating a new Requested Item"
When creating a new Requested Item, an existing Supplied Item can be used or a new one can be created. It would be helpful to have an option to "split"/"fork" and existing Supplied Item: create a copy of it and link it to the Requested Item.

[2018-04-24 19:34] fabian opened #68 "Required Fields"
It seems each event has different required fields depending on the process being used.

Should we consider making the required fields configurable in the database per event?

[2018-04-25 07:58] fabian commented on #21
@PierreAnctil Is there anything needed from WSI here or can I close this issue?

[2018-04-25 10:45] WorldSkillsFrance commented on #21
hi all,
1-The autorisation system should connect to our API
2- When we add a new partner in our API it should add a new partner in the API Event on sponsor topic (https://events.worldskills.org/#/events/438/sponsors)

@fabian if you don't mind, i would prefer to do not close this issue before Axiocode did the API

[2018-04-27 15:28] fabian commented on #21
@PierreAnctil As the suppliers management system is running outside the WSI environment we recommend you manage permissions in your own system.

[2018-04-28 08:47] WorldSkillsFrance opened #69 "BUG event/IL"
Hi all,

I get a news bug today that when i work on IL, I get back sometime on the following page :
![image](https://user-images.githubusercontent.com/33081412/39394333-595bd344-4ad1-11e8-8259-3011c6fc67a8.png)
To get back on skills i have to clic on the header.

[2018-04-30 07:12] WorldSkillsFrance commented on #48
Hi @gbervik  @fabian,
I think this issue can be close

[2018-04-30 07:13] #48 closed

[2018-04-30 07:14] WorldSkillsFrance commented on #12
Hi Fabian,
I think this issue can be close.
Other bug and remarks will be put in the issue #10 Data translation.

[2018-04-30 07:26] WorldSkillsFrance commented on #10
Hi @PierreAnctil ,

When we are here (https://il.worldskills.org/#/event/438/overview) skills overview and when we change language,  skills does not change language the other menu yes but not skills.
We need to refresh page. Could you have a look to fix that and make it works as everywhere else.
Thank you

[2018-04-30 07:44] Simon-Woirgard opened #70 "Tools: Requested items / Recherche et extraction d'items"
Hi @PierreAnctil, @azanetti,

I noticed several bug with the item requeste tool.
I do not understand because they are bugs that we normally correct following their recovery on your test platform.

Example of this morning:
1- I go to the Requested items tool
2- I make several filters (Skill sector & subcategory)
3- I select the boxes
4- I click on Edit selected
5- I modify two elements (Status & Po

[2018-04-30 07:52] WorldSkillsFrance commented on #21
@fabian @gbervik ,
we will heberge in our server and also manage this API, but i realy would like that API:
1- connect with your permission
2- When we add a new partner in our API it should add a new partner in the API Event on sponsor topic (https://events.worldskills.org/#/events/438/sponsors)
3- A link appear to this API  in the Admin views
![image](https://user-images.githubusercontent.com/330

[2018-04-30 08:11] fabian commented on #21
1. Permissions (Authorization, who can do what?) and Login (Authentication, who is the user?) are two different things. We had discussed Login with OAuth and we still think the Supplier application can use the WorldSkills Login, but Permissions should be managed within the Supplier application.

2. This is possible. The Supplier application can make an API call to `https://api.worldskills.org/even

[2018-04-30 09:15] WorldSkillsFrance commented on #64
@fabian
Could you add here : ?
![image](https://user-images.githubusercontent.com/33081412/39421080-b4aab3e0-4c67-11e8-81c0-560933f29207.png)
1- Unit
2- Potential supplier

[2018-04-30 09:32] WorldSkillsFrance commented on #58
Hi @fabian
I guess this issue can be closed.
I put a reminder for May 14 in order to close the permissions of WSS and E.
We will see together how to do at that moment.
Regards

[2018-04-30 09:43] fabian commented on #58
I leave this issue open, as we still should implement a list of skills for read-only users.

[2018-04-30 10:07] WorldSkillsFrance commented on #33
@PierreAnctil  Did you fixe that ?

[2018-04-30 10:28] WorldSkillsFrance commented on #9
Hi @fabian @gbervik ,

there is also a bud when we extract data from a skill : (requested items for skill)
files are not on the good colom
![image](https://user-images.githubusercontent.com/33081412/39423363-e0046d4c-4c71-11e8-91f0-c64754ec3a8d.png)
Could you have a look to fix that please ? (I did check in other extraction)

[2018-04-30 10:52] PierreAnctil commented on #10
@WorldSkillsFrance this is already referenced in https://github.com/worldskills/worldskills-infrastructure-list/issues/51

[2018-04-30 11:49] PierreAnctil commented on #70
@WorldSkillsFrance I reproduced all your steps in staging and couldn't find a bug:

![2018-04-30_13-46-04](https://user-images.githubusercontent.com/6544411/39425714-f139e5c8-4c7c-11e8-938e-c74724da573e.gif)

When I go to see the requested item in the skill view, everything seems OK as well.

Could you please provide us with details on how to reproduce the bug?

[2018-04-30 11:51] WorldSkillsFrance commented on #51
@fabian i just saw that you add WSI to take care about this bug could you tell us when this bug is fixed please

[2018-04-30 11:53] WorldSkillsFrance commented on #70
@PierreAnctil did you do that test in production ? because when i do that in production it does not work

[2018-04-30 12:00] WorldSkillsFrance commented on #5
@fabian could you close this issue ? i think changes are done

[2018-04-30 12:05] WorldSkillsFrance commented on #3
@fabian if you fixed bug could you close this issue ?

[2018-04-30 12:08] WorldSkillsFrance commented on #3
but seems not fixed :
![image](https://user-images.githubusercontent.com/33081412/39426401-f11ea60c-4c7f-11e8-97b3-6ec688f6c20f.png)

[2018-04-30 12:12] WorldSkillsFrance opened #71 "Catalogue Mass editing tool"
It would be nice to be able to edit several lines in one go.
For example, when we have to add the name of a partner who could supply the material

![image](https://user-images.githubusercontent.com/33081412/39426496-637f0598-4c80-11e8-808a-29de13c00d8f.png)

[2018-04-30 12:14] WorldSkillsFrance commented on #8
@fabian Could you close this issue
To avoid confusion about mass editing tool i create 2 news issue:
1- #70 for the request item who axiocode have to take care of it
2- #71 for the supplied item

[2018-04-30 12:55] PierreAnctil commented on #9
@WorldSkillsFrance I added the computation on quantity (code review pending)

[2018-04-30 13:04] PierreAnctil commented on #70
@WorldSkillsFrance That was in staging. I tried the same thing in production and that also worked.

[2018-04-30 13:07] WorldSkillsFrance commented on #70
I just try and it seems that work some time. But not all the time as you can see below
![image](https://user-images.githubusercontent.com/33081412/39428594-427a80b8-4c88-11e8-964d-abbb99e39701.png)

[2018-04-30 13:08] PierreAnctil commented on #71
That's exactly what is described in https://github.com/worldskills/worldskills-infrastructure-list/issues/38
I close this one.

[2018-04-30 13:08] #71 closed

[2018-04-30 13:52] WorldSkillsFrance commented on #21
1- permissions only "FR - Organizer" position only "IL manager" it's easier for us to have just one point of entry
2- it is done so that when one adds a partner in the fields this one is already proposed
3- we don't have intranet, the other posibility would be to put here an catégory like manager (http://www.worldskills-france.org/espace-membres) but i think it would be very confusing for everyone

[2018-04-30 14:05] WorldSkillsFrance commented on #10
@PierreAnctil i leave a message to Fabian in Issue 51.

Could you translate that (when we try to delet item in requeste item )
![image](https://user-images.githubusercontent.com/33081412/39431202-483f0aca-4c90-11e8-9c8c-217d39e322d2.png)

[2018-04-30 14:05] WorldSkillsFrance commented on #70
I have the problem when there is different statut and i want to put the same statut and name of the potential supplier.

This bug just appear now:
1- i select line with same statut and potential supplier
2- i try to change the statut, and ecrase the name who was written by an other one.
Result :
Statut well change and nothing appear on the potential supplier
![image](https://user-images.githubuser

[2018-04-30 14:14] WorldSkillsFrance commented on #70
Other Bug :
Before i search all item with Point P written in (potential supplier) and not all was show.
When i do a focus on one skills (carrelage/wall for tilling) i saw some point item i try to modify all (statut and the name of the potential supplier and we get this :
![image](https://user-images.githubusercontent.com/33081412/39431553-6838f344-4c91-11e8-80c6-ec9361a66519.png)
![image](https://

[2018-04-30 14:26] PierreAnctil commented on #70
@WorldSkillsFrance we have reproduced this problem and are working on it

[2018-04-30 14:32] WorldSkillsFrance commented on #10
@PierreAnctil
Could you also translate this but and message : (when editing request item, and try to split it)
![image](https://user-images.githubusercontent.com/33081412/39432511-fa226482-4c93-11e8-85ca-203296d84e0e.png)

[2018-04-30 15:09] WorldSkillsFrance commented on #70
ok thx
I think that I am in front of another bug and if this one and truthful it is a very big problem.
I can not be sure because I only see it now and this is the result of work between Saturday and today.

Saturday I started to work on skills and one in particular, put the right things in the right fields and add the "potential supplier".
Today I return to a job in which I worked a lot on Saturd

[2018-04-30 15:30] #5 closed

[2018-04-30 15:30] #8 closed

[2018-05-01 10:03] fabian commented on #9
@WorldSkillsFrance  Okay, I've merged the calculated quantity and added the missing unit column header. Deployed to production.

[2018-05-02 05:44] PierreAnctil commented on #33
@WorldSkillsFrance No I didn't because this is not related to our developments and we have no support contract.

[2018-05-02 07:01] PierreAnctil commented on #70
@WorldSkillsFrance I ran some tests and could not reproduce the issue. I also checked the code and it seems reliable. Are you sure that was not a misclick?

[2018-05-02 07:58] WorldSkillsFrance commented on #70
well can not be sure that there is no miss clic, but it's happen to much time on to much scenarios for a misclick, so yes there is something.

Again, find a new bug appear sometime : Bug when we search item. you can see on the screen shot below :
![image](https://user-images.githubusercontent.com/33081412/39511890-4a324940-4def-11e8-9526-39787a5bd7cb.png)

[2018-05-02 13:13] WorldSkillsFrance opened #73 "1 expert 2 skills"
Hi Fabian,
In some case i would like to connect 1 expert to 2 IL skills.
I check with Adam, the process and it look like i do the right thinks.
Could you have a look on the code if everything is good ?
Thx
Simon

[2018-05-03 11:59] WorldSkillsFrance commented on #9
@fabian there is still some bug in extraction i guess all colonne are in the right place as you can see below :
![image](https://user-images.githubusercontent.com/33081412/39568854-dab4b35c-4ec3-11e8-8122-dfe03d01007d.png)
data in "PO number" in colonne AC should be in the colonne AD also the same with AI

[2018-05-04 12:40] fabian commented on #9
@WorldSkillsFrance Ah yes, that's a bug, thanks! Fixed now on staging. Will deploy to production on Monday.

[2018-05-07 08:36] WorldSkillsFrance commented on #64
@fabian did you get my previous message ?

[2018-05-07 15:11] WorldSkillsFrance commented on #73
@fabian did you have time to have a look on this ?
Two of my expert can't work on IL and i would like to give them a solution about you to work on it

[2018-05-08 06:14] fabian commented on #73
@WorldSkillsFrance Okay, I will try to have a look at this today too.

[2018-05-08 07:03] fabian commented on #64
The "Print view" actually already had units, I've added the Potential Supplier now.

I've also added units to the "Skill view" now. Unfortunately the space is rather limited, so I can't add the Potential Supplier there. You can always get the Potential Supplier by editing the row.

On staging now, looking at deployment to production later this week or next week.

[2018-05-08 07:03] #64 closed

[2018-05-08 12:01] Joni-Aaltonen commented on #73
Hi @WorldSkillsFrance - You are already able to achieve this by adding multiple expert positions to the person

<img width="1037" alt="image" src="https://user-images.githubusercontent.com/428709/39756005-875ff12e-52d0-11e8-82ad-30ffabf858b7.png">

You'll also need to make sure that the person has the correct permission in people of course
<img width="961" alt="image" src="https://user-images.gith

[2018-05-08 13:36] Joni-Aaltonen commented on #3
closed and PR created

[2018-05-08 13:36] #3 closed

[2018-05-09 06:38] azanetti commented on #6
Hello @WorldSkillsFrance, estimate time for the addition is 4h of work. Is it OK for you?

[2018-05-09 08:07] WorldSkillsFrance commented on #73
Hi @Joni-Aaltonen ,
You right and i did the good precedure as show to Adam.
I guess Fabian fix some thing because my expert say that it works now.

Remind just one thing : When my expert connects now he has your last screenshot but it is to mark "Workshop manager" and not "Expert"

[2018-05-09 09:59] Simon-Woirgard opened #78 "Bug Upload file in request item"
Hi @fabian

You will be able to see in the video the bug when we want to import a file into a skill. (in french but not importe because you have pictures)
Could you correct that when you have a minute please

https://www.dropbox.com/s/jx7md5i7fo0qgum/Bug%20import%20files.mp4?dl=0

[2018-05-09 10:15] WorldSkillsFrance commented on #6
Hello @azanetti
I guess yes, you said to me by phone fews days ago, that you can take care of a small modification

[2018-05-09 14:35] PierreAnctil commented on #24
@fabian
Can you please confirm the following statements?
- So this will be a **global** report
- **Only** the not confirmed items will be displayed
- The **Secret** status is considered not confirmed
- Statuses will soon be possible to customize (#32), but the **basic statuses will always be here** (at least *confirmed*)
- **columns are the same** as the current requested items global export

Rega

[2018-05-09 15:46] PierreAnctil commented on #26
@fabian can please you add more details about what should be done. The only locations I see is the one on the supplied item

![image](https://user-images.githubusercontent.com/6544411/39824891-c0367f14-53b0-11e8-9a62-db7978da0945.png)

Do you just want more locations to be available here? (seems to simple too be accurate)

[2018-05-11 11:18] fabian commented on #26
@PierreAnctil A the moment The idea each "Infrastructure List" is linked to a Skill. The idea here was to make it possible to have an "Infrastructure List" that is not linked to a Skill and simply has a description instead.

So that the Competition Organizer could create a new "Infrastructure List" with the name "Conference Hall A" for example. No workshop manager or expert would have access to th

[2018-05-11 11:31] fabian commented on #24
@PierreAnctil Sorry, the description of this task hasn't been very clear as it also took me some time to understand what's really needed. I'll try to answer your questions first and then describe how I think it should work.

---

Well, "global" for each event.

No, we would also show confirmed items, to give an indication of the progress.

Items with the status "Secret" should also be included.

T

[2018-05-11 12:19] WorldSkillsFrance commented on #26
@fabian is right and it's also to WSI to take care of it @PierreAnctil

Fabian, When do you think this issue could be online? not urgent to us, but it could be good to have it around July or August

[2018-05-11 12:53] gbervik commented on #24
@fabian I think that works for an overview, but I think we need to be able to break it down by skill as well. If I saw that report and could see that there are unconfirmed items when approaching the deadline for that tier, I would want to know what those items were. Perhaps clicking on the skill name could show a detailed report for that skill.

Before we go too far with this one we should get sig

[2018-05-11 13:04] azanetti commented on #24
@fabian @gbervik as we are working actually on the specifications, designing the page will be part of the job. So, I let @PierreAnctil see with our team to make the mockup.

[2018-05-14 06:53] #33 closed

[2018-05-14 06:54] Joni-Aaltonen commented on #33
fixed in bcf8c3b

[2018-05-14 07:15] fabian commented on #58
- Change `VIEW` to entity based
- Adjust permission checks
- List all Skills with IL where user has `VIEW` permission
- Link to IL

[2018-05-14 07:27] Joni-Aaltonen commented on #69
Hi @WorldSkillsFrance - this is meant to show a selection of roles where the user can select which "role" they want to use the application as, for example if an expert has multiple skills, they would use this to select the skill they want to edit.

However I've changed this logic in a pull-request last week, which @fabian will be pushing out to production sometime soon.

From now on the applicatio

[2018-05-14 07:27] #69 closed

[2018-05-14 07:51] Joni-Aaltonen commented on #51
added translation change listener to main.js (049ab90) which fix reloads the view, a bit more testing needed in subviews before merge

[2018-05-14 07:55] WorldSkillsFrance commented on #33
Hi @Joni-Aaltonen
when do you push to production all modifications that you do ?

[2018-05-14 09:26] #51 closed

[2018-05-14 11:37] Joni-Aaltonen commented on #33
Hi @WorldSkillsFrance
I'm creating pull requests for @fabian who will handle deployments

[2018-05-15 10:25] WorldSkillsFrance commented on #70
Here @PierreAnctil  a video of multiple modification who this does not work :
https://www.dropbox.com/s/szlimnu1zp9jfqn/Bug%20request%20modification.trec?dl=0

[2018-05-15 10:26] WorldSkillsFrance commented on #21
@PierreAnctil where we are of partner API ? this should be availabe on the 26 of april.

[2018-05-15 12:32] WorldSkillsFrance commented on #9
Hi @PierreAnctil
Please find below a video (who start at 20sec) about several bug of extraction. Could you have look/answer/fix all bug.
https://www.dropbox.com/s/ynb0j6cc8u3aoju/Bug%20extraction.mp4?dl=0
Waiting for you retourn

[2018-05-15 13:42] WorldSkillsFrance commented on #38
Hi @Joni-Aaltonen / @fabian
I find bugs on supplie item

- "inline editing" I made a video to show you.
https://www.dropbox.com/s/4kqochnazn6nh0t/Bug%20Supplie%20item%20inline%20editing.mp4?dl=0

- "mass edit tool" I made a video to show you.
https://www.dropbox.com/s/t55et4mzr028zf2/Bug%20catalogue%20mass%20editing%20tools.mp4?dl=0

After editing we have the come back of display bug :

![image](h

[2018-05-15 14:04] PierreAnctil commented on #70
@WorldSkillsFrance OK thanks, that will help

[2018-05-15 14:09] Simon-Woirgard opened #81 "Permission Bug"
Hi all,
We just find a new "bug" in the IL. All IL manager with the permission "FR-Admin" does not have the same access.
For exemple
Angelique HADDAD does not have access  "Skill Participants Override"
![image](https://user-images.githubusercontent.com/33081412/40061805-0b8714f8-585a-11e8-8b93-af439fec84f8.png)
And Arthur ILTIS does not have access on "Item categories and subcategories"
![image](h

[2018-05-15 15:01] WorldSkillsFrance commented on #6
@fabian as discuss in our meeting could you have a look to do it please. Thx

[2018-05-15 16:11] ailtisWSFR opened #82 "Number of status for French national finals"
Hi Fabian,

Regarding the number and detail of statuses needed for our National Finales :
We will need 4 status :
 – Green: Confirmed / Confirmé (FR)
 – Yellow: Pending / En cours (FR)
 – Orange: Prospect / Prospect (FR)
 – Red: Requested / A rechercher (FR)

On the “Print view” :
-	All the 4 status allow viewing the “Details” of the item
-	“Actions” are allowed for statuses “Requested”, “Prospect

[2018-05-16 09:39] #38 closed

[2018-05-16 11:52] Joni-Aaltonen commented on #6
Fields added and pull request created, closing for now.
Feel free to reopen in case of bugs or changes.

[2018-05-16 11:52] #6 closed

[2018-05-16 12:10] Joni-Aaltonen commented on #73
@WorldSkillsFrance that's right - the use role is called WorkShop Manager internally, experts are given a role of WorkShop Manager. This can be a bit confusing, but it's because of WSI specific reasons.

[2018-05-17 08:37] fabian commented on #82
Ready for deployment next week.

[2018-05-17 08:56] Joni-Aaltonen commented on #58
closing this, please reopen if bugs appear

[2018-05-17 08:56] #58 closed

[2018-05-17 08:57] fabian commented on #58
Will be deployed to production next week.

[2018-05-17 10:10] Joni-Aaltonen opened #85 "Recommend changes to supplied items"
Here are some things to consider when adding a functionality to recommend suggestions to supplied items

- In WSI competitions this is not really needed, as when the details are shown to the public, the contracts are already signed in most cases, and changes are not possible. This means that the feature should be configurable per-event

- There should be a warning shown during the approval process

[2018-05-17 14:17] WorldSkillsFrance commented on #6
Thx @Joni-Aaltonen, could you just tel us when this will be push in production that we can inform our team please.

[2018-05-17 14:19] fabian commented on #6
@WorldSkillsFrance I will deploy it to production next week together with all the other things.

[2018-05-17 14:33] PierreAnctil commented on #28
All tables should be tracked except external synchronized tables (event, member_reg_position, person, position, sector, skill, user_role and ws_entity).

Envers should be used :
http://docs.jboss.org/hibernate/orm/current/userguide/html_single/Hibernate_User_Guide.html#envers

It should be extended to track user name
http://ignaciosuay.com/how-to-use-hibernate-envers-to-audit-data-including-userna

[2018-05-17 14:38] fabian commented on #28
Yes, I think we should have some kind of user interface to see the IL at a certain point in time - for administrators at least. Maybe simply with a calendar icon in the public IL view?

[2018-05-18 01:36] gbervik commented on #28
@PierreAnctil Keep in mind that Envers will tell you when and how individual objects changed, but it won't give you any context or the business logic behind the changes. For example, if the supplier of an item changes how do you know if it was part of a mass-edit, or maybe a bug? I think we need to keep a log of the **actions** taken by the user, as well as what changed at a database level.

Also

[2018-05-18 06:01] WorldSkillsFrance commented on #10
Hi @PierreAnctil

Could you fix the bug of skills name translation please.
![image](https://user-images.githubusercontent.com/33081412/40218388-4f62f4ee-5a71-11e8-9796-86f3268fa429.png)

[2018-05-18 06:07] WorldSkillsFrance commented on #73
Hi @Joni-Aaltonen,
It seems not working well. Our expert in cabinetmaking have access on is skills and joinery so this is good but our expert in joinery have access only on cabinetmaking and not is skills.
It would be wonderfull if you could look and fix this today.
Thx

[2018-05-18 07:29] fabian commented on #81
@WorldSkillsFrance I've added the role EditConfig now to the permission profile "FR - Admin", that should give access to "Skill Participants Override".

Arthur only has the permission profile "FR - Organizer" - you can fix his permissions by giving him "FR - Admin".

[2018-05-18 08:11] Joni-Aaltonen commented on #73
@fabian could you please take a look at this as I don't have access to prod/puppeteer

[2018-05-18 08:11] fabian commented on #73
Sorry, can't have a look at it today, about to head out, will check on Monday.

[2018-05-18 09:44] PierreAnctil commented on #24
@fabian What do you think of this kind of display for the report ?

![image](https://user-images.githubusercontent.com/6544411/40226924-5c9a9740-5a8d-11e8-9126-94695fc3a57f.png)

It keeps things tight, makes you see very quickly the global amount of items for each status and you can spot the main issues easily.

Of course a caption will be displayed and the status matching the color will appear on

[2018-05-18 10:02] Joni-Aaltonen commented on #67
@WorldSkillsFrance there are a couple of changed/new translations that need updates in french, mainly in the "add requested item" form

```"CHANGE_TO_ANOTHER_ITEM_HELP": "In order to create a new item with this description, hit enter<br><br><b>OR</b> if you'd like to search for another item, keep typing",```

```"ITEM_DOESNT_MATCH": "If this doesn't match your needs, please use one of the options

[2018-05-18 10:47] PierreAnctil commented on #29
The UI should be similar to files upload of the supplied item

![image](https://user-images.githubusercontent.com/6544411/40230168-e3c96940-5a96-11e8-86c3-a82dfb2715f3.png)

The following changes will be made:
- only images should be selectable
- The click on the drop zone will trigger a classic files selection (or files cannot be uploaded on mobile)
- The upload in the requested item creation sho

[2018-05-21 14:31] fabian commented on #24
@PierreAnctil Hmm, nice idea of using different font size, but I think it would quickly look messy and too hard to read with 50+ skills.

I think it's probably better to keep the existing progress bars (one for each tier):

![screenshot 2018-05-21 16 26 40](https://user-images.githubusercontent.com/13346/40312693-dc8b8dd2-5d13-11e8-85e7-d6277a8831c5.png)

Not sure if we need the additional charts

[2018-05-22 05:09] PierreAnctil commented on #10
@WorldSkillsFrance what bug are you talking about? A missing translations? The translation must have been added on the skill meanwhile cause it seems to display correctly in production

![image](https://user-images.githubusercontent.com/6544411/40343182-e913ccb0-5d8e-11e8-8163-89fd6ab5e52f.png)

[2018-05-22 06:15] PierreAnctil commented on #24
@fabian

I though of using the progress bar but the issue was that statuses will not be aligned between skills, so the reading is not as much accurate. We will provide both mockups so you can choose.

I was speaking of inter-skills charts displaying the count per statuses / tiers globally for an event.
Using one progress bar per tiers as an example

**Tier 1**  ![image](https://user-images.githubu

[2018-05-22 06:17] fabian commented on #24
Perfect, thanks!

Okay, yes maybe that could be useful and it doesn't take much.

[2018-05-22 06:44] fabian opened #87 "Think about approval process"
Can maybe be solved by an additional status (e.g. "Confirmed by WSI")?

[2018-05-22 06:48] fabian opened #88 "Actual need vs. wanted quantity"
Sometimes the quantity in IL is higher than the actual need, because a sponsor is willing to provide more items to showcase their product.

This can lead to necessary high expectations for the next Competition Organizer, as the quantity in IL is higher than actually needed.

Maybe introduce another field "Actual quantity needed"?

[2018-05-22 09:50] WorldSkillsFrance commented on #10
Yes im sure, it does not appear everytime but as you can see on the screenshot that i did we have something to do about it.

FYI @ailtisWSFR

[2018-05-22 09:52] WorldSkillsFrance commented on #73
Loïc ROYER

[2018-05-22 09:57] PierreAnctil commented on #10
@WorldSkillsFrance do you remember in which case it can appear? Or is it completely random?

[2018-05-22 10:05] WorldSkillsFrance commented on #10
@PierreAnctil I don't know maybe random.
Did you see my email about a meeting this afternoon ?

[2018-05-22 10:07] WorldSkillsFrance commented on #67
@ailtisWSFR could you take care of it thx

[2018-05-22 10:26] fabian commented on #73
@WorldSkillsFrance Okay, I was now able to manually fix the issue for Loïc ROYER.

I also found an issue in the application which caused the problem, will look into that.

[2018-05-22 10:26] #73 closed

[2018-05-22 12:55] WorldSkillsFrance commented on #81
Yes ok thx

[2018-05-22 13:57] ailtisWSFR commented on #88
For me, the number in the field “Quantity” should be the actual quantity needed.
If the sponsor gives more than that, couldn’t we just add a new field like the “Additional quantity” one? Something like “Additional quantity proposed by the sponsor” (and rename “Additional quantity” by “Additional quantity needed”)?

[2018-05-22 15:44] fabian commented on #88
Yes, I would probably agree on that. I'm wondering if we even need to differentiate between “Additional quantity proposed by the sponsor” and “Additional quantity needed”?

[2018-05-23 07:41] PierreAnctil opened #89 "No fallback on export when EN translation does not exist"
In the UI

- when there is no FR (or other language) translation, EN is the fallback
- when there is no EN translation, FR (or other language) is the fallback

In the exported files

- when there is no FR (or other language) translation, EN is the fallback
- when there is no EN translation, **there is no fallback**

@worldskills/geeks is this on purpose since FR translation is needed to provide EN

[2018-05-23 09:58] PierreAnctil commented on #70
@Simon-Woirgard  @ailtisWSFR

I tried to reproduce the bug with production data and I still can't (video below might need time to load):

![2018-05-23_11-55-10](https://user-images.githubusercontent.com/6544411/40417515-374b634c-5e80-11e8-8e66-bff1e5ed750f.gif)

Do you still encounter this issue?

[2018-05-23 14:37] PierreAnctil commented on #9
As discussed the description issue is addressed in #89

Factor is

![image](https://user-images.githubusercontent.com/6544411/40428702-27267eb8-5ea1-11e8-9e83-c6c5ec5f4aad.png)

Part number is

![image](https://user-images.githubusercontent.com/6544411/40428730-3c1ab776-5ea1-11e8-8fd9-20e640e75fb5.png)

I submitted a fix for the supplier which was the supplied item supplier. Now it will be the req

[2018-05-24 08:40] PierreAnctil commented on #28
@Joni-Aaltonen I'm not sure that rollbacking a single table really makes sense since all tables are related. As an example you cannot rollback requested_items without supplied items, skills, etc.

@gbervik Since some API routes (like supplied item edit) can be called from several pages, I think the only way to have the **actions** tracked would be for the front to send explicitly the action to the

[2018-05-24 12:05] gbervik commented on #28
@PierreAnctil I was only referring to actions as far as the API is concerned. It doesn't matter if the supplied item edit is being called from several pages, as long as we know that the changes that occurred happened during that edit action. For example, I assume that editing a single item uses a different route to mass edits?

[2018-05-24 12:51] PierreAnctil commented on #28
@gbervik no routes are currently not always different. Mass edit for requested items and supplied items call multiple times the single edit route. But that's clearly not optimal so that could be the opportunity to change that.

[2018-05-24 14:00] PierreAnctil commented on #28
@gbervik No currently that is not always the case. The mass edit for requested items & supplied items call the edit route in a loop. However I agree this is far from optimal and that could be the opportunity to change that.

[2018-05-25 09:43] ailtisWSFR opened #90 "Recommend an addition / modification on public view"
Hi,

There is a bug when our Experts and WorkShop Managers wish to us the "Recommend an addition" or "Recommend a modification" tool.
See screenshot below and video.
![bug](https://user-images.githubusercontent.com/39295271/40537851-4711faf2-6010-11e8-9049-46068f9663ac.png)

Thanks in advance for a quick solution since this tool is essential for us at the moment.

Regards,
Arthur

[2018-05-25 09:45] ailtisWSFR commented on #90
url of the video :

https://www.dropbox.com/s/k2dp8j6jn3ag2tt/20180525_104055.mp4?dl=0

[2018-05-25 10:19] PierreAnctil commented on #90
@ailtisWSFR are you sure this is the right video? There just seems to be a lost connexion issue in the one you provided.

[2018-05-25 11:26] ailtisWSFR commented on #90
@PierreAnctil Yes I'm sure, just try and you will see by yourself. The connexion don't get lost, your still connected. This problem appears to all Experts and WorkShop Managers.

[2018-05-25 11:37] fabian commented on #90
@PierreAnctil I just had a quick look on production and it seems the problem is with this wrong request to `https://api.worldskills.org/il/items/undefined/supplied_items/?search=Foo`:

![screenshot 2018-05-25 13 35 43](https://user-images.githubusercontent.com/13346/40542454-8a00a204-6020-11e8-83d7-d4970018f6e2.png)

Looking at the code it seems `$scope.event_id` is not defined for Experts viewing

[2018-05-25 11:58] ailtisWSFR commented on #90
Just to be precise :
My screenshot = bug with the tool "Recommend a modification"
The video = bug with the tool "Recommend an addition"

[2018-05-25 14:06] PierreAnctil commented on #90
Fix submitted for review

[2018-05-25 14:33] fabian commented on #90
@PierreAnctil The Supplied Item search call works now correct, however they still get HTTP 401 Forbidden, because they don't have permission to search Supplied Items:

https://github.com/worldskills/API-Infrastructure-List/blob/35daa7a048b50164f00f9d91f518a41b38057375/src/main/java/org/worldskills/api/il/rest/SuppliedItemResource.java#L189-L190

[2018-05-28 13:53] #82 closed

[2018-05-28 13:53] #81 closed

[2018-05-28 16:17] ailtisWSFR commented on #9
@PierreAnctil Thanks for those explanations.
I do understand the issue #89 explaining the empty column for "Description".

From the video, 2 bugs remain:
1 - I understand now the "Factor" column, but the traduction should be "Multiplicateur" instead of "Facteur" to be understood correctly and match the traduction of the tool "Add item". Thanks in advance to change that.
2 -  The column "Energy" ha

[2018-05-28 17:00] fabian commented on #9
@ailtisWSFR I have just deployed some fixes from @PierreAnctil to production. Please check again if the export still has issues.

[2018-05-29 05:28] #90 closed

[2018-05-29 06:04] fabian commented on #90
Deployed to production.

[2018-05-29 09:08] ailtisWSFR commented on #70
@PierreAnctil Yes, we still encounter this issue. Just try today with production data and still the same problem, see video linked below :

[https://www.dropbox.com/s/fau42cm4il591t5/Mass%20edit%20bug%201.mp4?dl=0](url)

Since we are actually working on the infrastructure list with the host of the event, it becomes urgent to solve this issue.
Thanks in advance.

[2018-05-29 09:21] PierreAnctil commented on #24
@fabian We are starting the mockups on this point.

They should be ready before the end of the week.

[2018-05-29 09:57] ailtisWSFR commented on #9
@fabian @PierreAnctil The export still has issues :  **Still no "Electricity" column**

@PierreAnctil you can forget the change about "Facteur", I've realized that another column already has the name "Multiplicateur". Sorry for that.

[2018-05-29 10:40] PierreAnctil commented on #70
@ailtisWSFR can you tell me what your permissions are on https://people.worldskills.org/#/people/person/28347/permissions ?

[2018-05-29 11:11] ailtisWSFR commented on #70
@PierreAnctil My Position and Permissions :
Position : IL Manager (2018)
Permissions : FR - Admin

And the screenshot of my "Individual permissions for all applications" regarding IL :
![image](https://user-images.githubusercontent.com/39295271/40655471-bbbc38b6-6341-11e8-8827-7ae87ba5eb3d.png)

[2018-05-29 13:20] PierreAnctil commented on #9
@ailtisWSFR I've just made an export in production and the columns energy and electricity are here:
![image](https://user-images.githubusercontent.com/6544411/40660985-e17c7fdc-6352-11e8-9a4c-bf7973d40f11.png)

Maybe you are not talking about the export described in this issue (export in the requested items search page) but rather about the global export on the main page?

[2018-05-29 14:55] ailtisWSFR commented on #9
@PierreAnctil Yes, sorry, I'm talking about the global export. I thought that this issue was about all the IL's export. Still, the bug remains and need to be fixed.

[2018-05-29 15:00] PierreAnctil commented on #70
@ailtisWSFR
I still cannot reproduce it.
I do not have sufficient permission to test it in production.

Do you have it right after landing on the page? Or do you do something in the page before? Does it always happen? With the same data ?

[2018-05-29 15:05] PierreAnctil commented on #70
@ailtisWSFR or maybe you can add me the EditItemStatus permission so I can test it? Or @fabian can do it?

[2018-05-29 15:37] ailtisWSFR commented on #70
@PierreAnctil As shown in the video, I don't do anything more on the page then what is shown in the video.
This problem seems to appear when you have different status applied to the lines that you want to update, but I haven't tried other configuration.
If @fabian is OK and if it helps, I'm OK too to give you the permission. (but in your video posted 6 days ago with TARKETT, you seemed to already

[2018-05-29 15:43] ailtisWSFR commented on #70
@PierreAnctil This is what appears on the "Console" :
![image](https://user-images.githubusercontent.com/39295271/40669671-c4452508-6367-11e8-8029-fecfc821411b.png)

[2018-05-29 16:16] PierreAnctil commented on #9
@ailtisWSFR Well it's not exactly a bug since no one ever expressed the need to have this column here. It has also nothing to do with Axiocode developments so I suppose @worldskills/geeks should take care of it. Finally this should be put in a separate issue since it is not related to the new export described here.

[2018-05-30 07:59] fabian commented on #78
@Simon-Woirgard @ailtisWSFR Does this issue still exist?

[2018-05-30 08:14] fabian commented on #70
@ailtisWSFR I just tried to reproduce the problem on the production environment with your account (I can simulate your user) and didn't get any errors.

@PierreAnctil Could it be that the items didn't have a category yet but have them now?

[2018-05-30 08:22] PierreAnctil commented on #70
@fabian I already checked that and all items have a category on the FR event.

@fabian @ailtisWSFR we reproduced the issue on @lorentzClaude computer. The modal was closing too early and its scope was lost (still cannot figure out why this was working on my end and in staging and in production when @fabian tested though).

We have a fix ready, the PR will come soon.

[2018-05-30 08:37] fabian commented on #9
@ailtisWSFR I've added Energy and Electricity to the "global exports".

[2018-05-30 09:20] ailtisWSFR commented on #78
@fabian I can't see anymore the video made by Simon but I've tried and do still notice issues about it :

 - No problem with uploading files (I've tried with .jpg and .pdf)
 - Bug 1: A "Not found" message when I try to delete a file
 - Bug 2: impossible to view the file (on the public view): When I click on it, I'm redirected to a web page with the message: "No direct access" (URL of the page: htt

[2018-05-30 10:35] fabian commented on #78
Okay, @Joni-Aaltonen can you have a look at those issues when you get a chance?

[2018-05-31 15:29] ailtisWSFR opened #94 "Change of "Potential supplier" when we change status of request item !"
Hi,
Here is a huge bug that I notice today when using the IL :
When I change the status of a request item, the potential supplier sometime change when I haven't touch it!
It's a big problem for us that can potentially put a huge mess in our IL (and already have since I've spent the day working on the status of request items)!
See below a video of the bug :

https://www.dropbox.com/s/fddsut7vq656u0

[2018-06-01 08:37] fabian commented on #94
@ailtisWSFR The problem existed if you edited the Potential supplier of one item and then save changes on another item without a Potential supplier. A temporary variable wasn't reset properly and led to this behaviour.

I've pushed a fix to production now.

[2018-06-01 08:37] #94 closed

[2018-06-01 08:45] ailtisWSFR commented on #94
@fabian Thanks. It did also exist if I save changes on another item with a Potential supplier (the Potential supplier was then replaced by the last one that I have edited).  Is this fixed as well?

[2018-06-01 08:48] fabian commented on #94
Yes, that is fixed as well.

[2018-06-01 09:02] ailtisWSFR commented on #70
@fabian @PierreAnctil I'm sorry to let you know that I just tried now and still have the exact same bug...
Is there some kind of time that I need to wait for the fix to be effective in the IL (production)?

[2018-06-01 09:09] fabian commented on #70
@ailtisWSFR Sorry, this fix hasn't been pushed to production yet, will do that on Monday. Got closed automatically by the commit comment.

[2018-06-01 09:14] ailtisWSFR commented on #70
Ok, no problem, thank for that.

[2018-06-01 09:51] Joni-Aaltonen commented on #85
@ailtisWSFR I'm working on this feature now, do you think it would be enough to allow recommending changes to only the fields which are in the "general" tab of the supplied item.

In my opinion there would be no need to allow recommending changes to the details they don't actually see on the public view.

This would mean allowing recommendations to:
- Manufacturer
- Model
- Size
- Part number
- Su

[2018-06-01 09:52] Joni-Aaltonen commented on #85
I'm also making this configurable by adding a new Role in auth called `RecommendSupplied` - in case no one in the event has this role, this tab will remain hidden. It's an easy way to either allow/disallow this per-event.

[2018-06-01 10:38] ailtisWSFR commented on #85
@Joni-Aaltonen It would be good for us to also allow recommendation for the fields "Installation" and "Extra". The must would also to give them the possibility to recommend adding "Files".
(We wish to have those possibilities since it's our Experts who often provide the information present in those fields)

Other question: during the approval process, will it offer the possibility to "Split Suppli

[2018-06-01 10:53] Joni-Aaltonen commented on #85
@ailtisWSFR
Ok, I'll proceed with adding the full information 👍

As for the "split supplied item" option, I have yet to look at the interface for that section. But I'll definitely investigate that option when I do.

Anything else I need to take into consideration when implementing this feature?

[2018-06-01 11:09] ailtisWSFR commented on #85
@Joni-Aaltonen
Not that I'm aware no. Thanks.

[2018-06-04 08:44] Joni-Aaltonen commented on #78
@ailtisWSFR It seems that this bug was introduced with code changes by Axiocode regarding file uploads. I've now fixed the code for both the API and the Client, Fabian will be reviewing and deploying the changes sometime soon.

[2018-06-04 08:44] #78 closed

[2018-06-04 09:22] PierreAnctil commented on #24
@fabian here is the mockup: https://preview.axiocode.net/worldskills/skill-article-status-tiers.html

You will find a second version by scrolling down the mockup.

[2018-06-05 08:38] ailtisWSFR commented on #70
Juste tested the tool now and it does work properly! Thank you very much all! 👍

[2018-06-05 08:41] #70 closed

[2018-06-06 08:40] fabian commented on #24
@PierreAnctil Thanks, I will forward and discuss the mockups internally.

Quick note: Each tier should also have a due date for reference purposes.

[2018-06-06 10:26] ailtisWSFR opened #97 "Mass editing tool Requested items"
@fabian @PierreAnctil
New bug in the tool :

As shown in the two videos linked below, when we try to change or add the "Potential supplier", the system says that it makes the change but actually it deletes the information and doesn't put the new one.
Quite a big issue since it makes us loos essential pieces of information and when the info is deleted, we have no way to find where it was and for wh

[2018-06-06 15:34] fabian commented on #24
@PierreAnctil Quick question: In the first preview the status bubbles had different sizes depending on the number - did that not work at all or why did you leave it away now?

![image](https://user-images.githubusercontent.com/6544411/40226924-5c9a9740-5a8d-11e8-9126-94695fc3a57f.png)

![screenshot 2018-06-06 17 34 01](https://user-images.githubusercontent.com/13346/41048782-d0ac9044-69af-11e8-8f6

[2018-06-06 15:40] fabian opened #98 "Toolbox management"

[2018-06-06 15:41] fabian opened #99 "Collapsible public view"

[2018-06-07 08:32] PierreAnctil commented on #24
@fabian  You previously mentioned that the display would get messy with a changing font and 50 skills.

Do you want a version with changing bubble sizes ?

[2018-06-07 09:38] ailtisWSFR opened #100 "Ghost Requested Item"
Hi,
I've noticed a new bug in the system. When I use the "Requested Item" Tool, I find a Requested Item that I can not find anywhere else ( not appearing in the "Public View" or in the "Skills View" where you can edit directly Requested Items, but appearing in the "Progress" bar of the Skill's overview).
See video linked below :
https://www.dropbox.com/s/y5ahmq25jt4b7xd/Ghost%20requested%20item.mp

[2018-06-07 09:42] fabian commented on #24
@PierreAnctil Yes, was just wondering if you ever tried it. No, it's fine, I can't really see it working well. Thanks! I've forwarded the mockups for internal feedback and should be able to get responses next week.

[2018-06-11 08:54] Joni-Aaltonen commented on #85
Small status update, work is progressing on recommendations for supplied items, the user interface for adding requests already works, including file uploads. Starting to work on the approval view now, will be posting UI mockups once I get the UI sorted out

![image](https://user-images.githubusercontent.com/428709/41221850-0ae92e4a-6d6e-11e8-8500-89ce33e86132.png)

[2018-06-11 10:30] ailtisWSFR opened #101 "Not able to delete Requested Items"
Bug of the day :
I'm not able anymore to delete a Requested Item.
If I try with the "Skill View" where I can directly act on the requested item or if I do a request from the "Public view" and then try to accept this request, both won't work.
See video below :
https://www.dropbox.com/s/13qcs1fhod7e6n0/Bug%20delete%20RI.avi?dl=0

Cheers,

[2018-06-12 08:04] fabian commented on #97
@PierreAnctil Are you okay to have a look at this or should we check it?

Is it even worth checking or should we first merge https://github.com/worldskills/worldskills-infrastructure-list/pull/95 and then see if it still exists?

[2018-06-12 08:46] Joni-Aaltonen commented on #85
Hi @ailtisWSFR @fabian

I've created a few rough mockups on the UI for reviewing these modifications with supplied information. I'll cleanup the user interface to make it look a bit better during implementation if the suggested workflow works for you.

I've basically replaced the current approval view with a new interface for reviewing, editing and accepting/denying the recommendations.

The recom

[2018-06-12 08:47] Joni-Aaltonen commented on #85
Note that the screenshot above does not yet have all the fields that are available for the supplied item.

Also I'm planning on hiding any fields from the view that are empty, just to make review easier.

[2018-06-12 08:47] fabian commented on #101
I was able to reproduce this problem and found a way to create a requested item that cannot be deleted. The problem is in the logic of the code, I will look for a solution.

Steps to create a undeletable item:

- Create requested item with new supplied item
  - A new supplied item with description ID 1 is created, user generated true
  - A new requested item with description ID 2 is created
- Edit

[2018-06-12 08:49] #67 closed

[2018-06-12 08:53] fabian commented on #101
I think we should change [the code](https://github.com/worldskills/API-Infrastructure-List/blob/c3032366d35747de8e87d9b427d9a7f2511de538/src/main/java/org/worldskills/api/il/rest/RequestedItemResource.java#L983) and make sure requested and supplied items never share the same description ID.

@Joni-Aaltonen  There is also a migration needed which splits existing requested and supplied items with th

[2018-06-12 09:31] fabian commented on #100
The item is not displayed because it has the same "item_order" in the database as another requested item in that list.

We need to figure out why this can happen, how to prevent it from happening and maybe reconsider the usage of Hibernate `<index column="item_order" />`.

As a quick fix I have manually adjusted "item_order" in the database so the requested item in the video is now visible again a

[2018-06-12 09:42] Joni-Aaltonen commented on #101
Yeah a clear bug, I'm on it

[2018-06-12 09:56] fabian opened #102 "Reconsider "user generated""
At the moment if a supplied item is created together with a requested item, it is marked as "user generated".

As long as the supplied item isn't used in another skill or edited by the organizer, any description changes to the requested item override the description of the supplied item.

The person editing the requested item doesn't know when the override happens and when not.

[2018-06-12 10:29] PierreAnctil commented on #97
@fabian we tested that recently on the branch with #95 and could not reproduce the issue. So we have good hope that #95 will fix it.

[2018-06-12 10:37] fabian opened #103 "Rethink Skill view"

[2018-06-12 10:54] fabian commented on #100
Probably happened during mass editing of category.

11 Print
14 Aircraft Maintenance

[2018-06-12 13:27] ailtisWSFR commented on #85
Hi @Joni-Aaltonen
The suggested workflow does work for me.
Juste a question about clone/split item: will the button appear only if the item is actually used in another skill (with the warning)?  I think this would be better becose if the item is only used in that skill, there is no reason to create a new copy of the supplied item.
That's my point of view but if you prefer making it available all t

[2018-06-12 14:07] fabian commented on #101
@ailtisWSFR You should now be able to delete the item. Please reopen if you cannot delete it.

[2018-06-12 14:07] #101 closed

[2018-06-12 14:16] ailtisWSFR commented on #101
@fabian Perfect, just tested and it does work. Thanks!

[2018-06-12 14:27] ailtisWSFR commented on #100
Two issues resulting probably of the use of mass editing of categories:

1- No access on the "Skill view" to categories "Workshop Installation" and "Materials / Consumables", categories involved into the mass editing action.
![image](https://user-images.githubusercontent.com/39295271/41296292-e9f61af0-6e5c-11e8-9122-f91967a3eafd.png)

2- No access to the "public view":
![image](https://user-images

[2018-06-12 15:39] fabian commented on #100
Yes, I can confirm that both issues exist because the sequence of `item_order` is not complete.

Most likely a race condition caused by the mass edit tool and the transaction not working properly, ending up with inconsistent data.

Fixing it either involves replacing `<index column="item_order" />` with another sorting method or making sure the transaction is done properly.

@PierreAnctil Do you c

[2018-06-13 05:19] PierreAnctil commented on #100
@fabian since the mass edit tool is calling multiple times the single edit route (as it was done in the catalog) I think the issue could already occur when several users where editing requested items at the same time. So this is not a new bug of the mass edit tool, even though you surely have way more chances to have it happening when mass editing.

[2018-06-14 05:32] Joni-Aaltonen commented on #85
Hi @ailtisWSFR and thanks for commenting, I can hide it in case the item is not used in any other skills.
I'll continue with implementation and will let you know if I run into anything that requires more feedback.

[2018-06-17 20:10] PierreAnctil commented on #26
So what should basically be needed:
- a new form for creating and editing Lists with the following properties
  - Name
  - *Number*? --> skills are sorted by number so maybe this is needed?
  - Description (HTML)
- A new button *Add List* on the home page that triggers the appearance of the new list form in a side panel
- edit and remove button on the non-workshop lists
- clicking on the list name

[2018-06-18 08:46] ailtisWSFR opened #104 "Potential Supplier"
New bug :

Impossibility to change the potential supplier, on the "skill view" or with a recommendation on the "Public view". We can do the change but it is not recorded on the requested item when we "Save changes".

See Video below :
https://www.dropbox.com/s/jzky6vj1p57j790/Potential_supplier_bug.avi?dl=0

Also, my college gets this information when she tries to "Save changes":
![image](https://

[2018-06-18 09:21] ailtisWSFR commented on #97
@fabian @PierreAnctil
Any update about solving this issue?

Same remarque then the one made in issue 104: we do have a big meeting this Wednesday with sectors managers and it would be great if the bug could be fixed prior to this meeting.
Thanks in advance

[2018-06-18 16:07] fabian commented on #97
@ailtisWSFR @PierreAnctil The changes from #95 have been deployed to production today, can you still reproduce the bug?

[2018-06-18 17:55] ailtisWSFR commented on #97
@fabian @PierreAnctil
The described bug ass disappear but other have appeared :
 - When we select requested items with the same information, like the same potential supplier, the information doesn't appear when you want to do a mass edit like before
 - When you try to change the "Status" or the "Category", you don't get the different possibilities, you just can right in the field which should not

[2018-06-19 11:35] azanetti commented on #97
The issue has been identified.
@fabian we will push a PR in few minutes to fix potential supplier.

Regarding the second item in the last comment, this is the normal behavior. Even if there is different values you can still edit them.

[2018-06-19 15:25] ailtisWSFR opened #106 "Recommendation for changes or add requested item by experts"
Hi,
Our Experts just let us know that the recommendation for changes or add requested item doesn't work anymore on the public view. It was working this morning since some experts did recommendations, but now they get a message saying : "Could not save recommended item : An unexpected error occurred"

See screenshot below :
![image](https://user-images.githubusercontent.com/39295271/41606981-400eb3

[2018-06-19 15:39] azanetti commented on #106
We are going to look at it tomorrow morning at the first hour.

[2018-06-19 15:50] fabian commented on #104
I think I was able to reproduce part of the problem - if you don't select a supplier from the dropdown (move the selection with the cursor outside the dropdown) the the following exception happens. @azanetti Can you have a look at this bug?

[code]

[2018-06-19 15:56] azanetti commented on #104
Yes will do.

[2018-06-19 15:56] fabian commented on #106
I was able to reproduce this by recommending an addition without a potential supplier:

[code]

[2018-06-19 16:03] ailtisWSFR commented on #97
@fabian @azanetti
Sorry but we can not close this issue since **all** the bugs that I've described above are still one.
I've tested and still :
 - Red notification with nothing written in it
 -  "Status" and "Category" don't show the different possibilities as before (and we absolutely need that you can only choose between the 4 status for "Status" and General Installations, Workshop Installations

[2018-06-19 16:05] fabian commented on #97
@ailtisWSFR Ah sorry, I didn't actively close this issue - the issue was mentioned in [the latest code change](https://github.com/worldskills/worldskills-infrastructure-list/pull/105/commits/a2ec88fa5525758f70b37ea5a50ad1997c1bd587) by @lorentzClaude and GitHub automatically closed the issue, when I accepted the change.

[2018-06-19 16:10] azanetti commented on #97
For the first point, @fabian has accepted the PR but I guess the fix has not been deployed on production yet.

Not sure to understand the second point.

In staging everything looks OK for me or I'm missing something?

![capture d ecran 2018-06-19 a 18 09 34](https://user-images.githubusercontent.com/546856/41609884-12a597e8-73ec-11e8-8059-b4d5e478c906.png)
![capture d ecran 2018-06-19 a 18 09 40](

[2018-06-19 16:11] fabian commented on #97
@ailtisWSFR @azanetti I've just deployed the change to production, can you test again?

[2018-06-19 16:19] ailtisWSFR commented on #97
@fabian @azanetti Yes still the bug.
See video linked below that I just made right now:
https://www.dropbox.com/s/xt1xqqnicjxaqxe/Bug%20still%20Tool%20requested%20items.avi?dl=0

[2018-06-19 16:23] azanetti commented on #97
I do not have access to the production logs... @fabian do you have something in the logs?

Could you please at least confirm that it is working on staging? It may help us.

[2018-06-19 16:30] ailtisWSFR commented on #97
@azanetti Yes it seems to work on staging.

[2018-06-19 16:37] fabian commented on #97
The problem seems to be caused by the new Skill "WSFR Needs" which doesn't have a sector.

The code for the mass editing tool produces an exception here:

https://github.com/worldskills/worldskills-infrastructure-list/blob/fb6479b30f6a975cd6fc29458b44401e744fccd0/app/scripts/controllers/requesteditem.js#L142-L154

A quick workaround would be to assign a sector to the skill.

[2018-06-19 16:52] ailtisWSFR commented on #97
@fabian @azanetti BINGO! Thanks for that! No bug anymore.
Should the code be fixed? So that even if skills don't have sector the tool still works. Or should assigning a sector when creating a skill be an obligation?

[2018-06-19 16:52] fabian commented on #97
Yes, I think it would be good to fix the code.

[2018-06-19 17:14] ailtisWSFR commented on #104
@fabian @azanetti The bug has evolved since deploying the change to production for issue 97. Now I'm able to change "Potential supplier" and make recommendations, but the new problem is that the "Potential supplier" doesn't appear anymore in the "Details" column in the "Public View" like before.
We do need to see this crucial information for us on the public view.

[2018-06-19 17:20] ailtisWSFR commented on #104
Video of the bug :
https://www.dropbox.com/s/rxe7stxzcxhnrns/Bug%20affichage%20public%20view.avi?dl=0

[2018-06-19 20:10] fabian commented on #100
I spent a few hours debugging this today and I couldn't find a simple solution to make it work.

At least I've written now a migration script to fix the current `item_order` for the skills that are currently broken.

I will test the migration tomorrow on staging and deploy it to production during the day.

[2018-06-20 07:36] fabian commented on #100
@ailtisWSFR Okay, the database problem has been fixed now and Skill 11 and 14 can be accessed again.

Please note that the mass editing tool can still cause the same problems again when you change the category as we haven't solved the original problem yet.

@PierreAnctil Can you hide the category field from the mass editing tool for now until we have solved this issue to prevent further data probl

[2018-06-20 07:41] fabian commented on #26
- I think we should sort the lists alphabetically, that way we also don't need the number for those lists.
- I don't think a description is required for the list.
- Correct, I think we can change the labels globally from "Skill management" to "People", and "Requested items for skill" to "Requested Items".

[2018-06-20 12:28] fabian opened #108 "Dashboard reports"

[2018-06-25 13:39] Joni-Aaltonen opened #110 "Changed translations"
@ailtisWSFR

There are some new translations that I've added to the translations file.

I'm not quite sure how you normally handle translations. Please let me know if you'd like me to add the new translations here as comments, or if you are able to edit the file yourself.

The new ones in fr.json file are in english, so it's easy to recognize what has changed.

[2018-06-25 13:41] Joni-Aaltonen commented on #110
The new translations are in branch `feature/#85` and are related to the new view for adding supplied item fields for recommendations

https://github.com/worldskills/worldskills-infrastructure-list/blob/feature/%2385/app/languages/fr.json

[2018-07-04 09:19] ailtisWSFR opened #111 "Editing Item"
@fabian
Hi,
We've just noticed a new bug when we try to edit an item from the "skills view".
As shown in the screenshot below, we get an error message when trying to save modification on the item in section "installation".
![editing item](https://user-images.githubusercontent.com/39295271/42268196-32879af8-7f7b-11e8-8d2b-9c44a6228437.png)

A big issue for us since we are working at the moment on c

[2018-07-04 09:29] ailtisWSFR opened #112 "New IL manager"
@fabian
Hi,
We have a new colleague working at WorldSkills France for the Technical Department.
I need to give him the IL admin permission for the IL.
I've created a new profile on the People API for him (Jérémy ARSICAULT) and gave him the correct position and permission.
When he connects himself to the list, Jérémy only get the public view permission (like an Expert).
Am I missing something? Do I

[2018-07-10 17:13] fabian commented on #104
@ailtisWSFR Potential supplier is no visible again (if there is one).

[2018-07-11 08:12] fabian opened #113 "Default locale for dates"
Visiting https://il.worldskills.org/#/event/364/skill/595/public, the dates are written in French, even though the default language is English.

Choosing "English" from the language selector fixes the issue, but it should be applied by default.

[2018-07-11 10:36] ailtisWSFR commented on #104
@fabian Thanks a lot! And welcome back. I hope your holidays were good ;)

[2018-07-13 06:58] fabian commented on #24
There hasn't been a lot of feedback, so I think we go with the known progress bars instead of the bubbles.

[2018-07-13 07:13] fabian opened #114 "Add Skill Competition Manager to Skill Management"
Currently only Workshop Manager, Sector Manager and IL Manager positions are synced via RabbitMQ.

To also show the Skill Competition Manager in the Skill Overview and to allow more flexible usage of permissions, all positions should be synced.

![screenshot 2018-07-13 09 11 21](https://user-images.githubusercontent.com/13346/42677693-d6dd44a6-867c-11e8-8497-7ae76a0b8789.png)

- [x] Adjust `Person

[2018-07-13 07:38] fabian opened #115 "Calculated quantity for Supplied Items"
If all Requested Items of a Supplied Item have the same unit, it would be possible to show the calculated quantity over all skills in the Supplied Item export.

If the Requested Items have different units, a warning could be shown instead.

[2018-07-13 07:43] fabian commented on #104
@ailtisWSFR Thanks, yes I had good holidays! :)

Can we close this issue?

[2018-07-13 07:45] fabian commented on #106
@ailtisWSFR  Axiocode made some changes on 20 June, did those changes fix the problem? Can we close this issue?

[2018-07-13 07:48] fabian commented on #111
@ailtisWSFR The problem is caused by the Ampere value "5.7" - unfortunately IL can only save full numbers for Ampere at the moment.

[2018-07-13 08:09] fabian commented on #112
@ailtisWSFR I've discovered a bug in the IL system that prevented Jérémy from getting the correct access. I've fixed the bug and will deploy it to production on Monday. I will let you know once it is deployed.

[2018-07-13 08:10] fabian commented on #9
@ailtisWSFR Can we close this issue?

[2018-07-13 11:25] fabian opened #116 "Show Extra details / Comments on Public View"
@ailtisWSFR WorldSkills Kazan 2019 would like to show the field "Extra details / Comments" of Supplied Items on the public view. Is that okay for you or do you have some internal information that should not be made available in there?

[2018-07-16 08:18] fabian commented on #112
@ailtisWSFR The fix has been deployed and Jérémy ARSICAULT can access the IL.

[2018-07-18 14:00] ailtisWSFR commented on #112
@fabian Thanks, it's working now. We can close this issue if it's okay for you.

[2018-07-18 14:00] #112 closed

[2018-07-18 14:20] ailtisWSFR commented on #116
@fabian No problem for us. Actually, it is also something that would be good for us too, so we totally agree with WorldSkills Kazan 2019.

[2018-07-18 14:49] ailtisWSFR commented on #9
@fabian Yes, we can. Thanks.

[2018-07-18 14:50] #9 closed

[2018-07-18 14:55] ailtisWSFR commented on #111
@fabian Ok thanks, we will only work with full numbers then. You say "at the moment", does it mean that in the future it's going to be possible to have comma numbers?

[2018-07-18 14:59] ailtisWSFR commented on #106
@fabian No, the bug is still on, it hasn't fixed it, sorry.

[2018-07-18 15:13] ailtisWSFR commented on #104
@fabian Yes, we can. Thanks.

[2018-07-18 15:14] #104 closed

[2018-07-23 15:41] fabian commented on #111
Feel free to create a new issue with the request to add the support for comma numbers in Ampere, I will close this "bug" for now.

[2018-07-23 15:41] #111 closed

[2018-07-23 15:47] fabian commented on #106
@azanetti Can you check again if you can reproduce the problem?

[2018-07-23 16:05] ailtisWSFR commented on #85
@Joni-Aaltonen @fabian
Hi! Is it possible to have an idea of when this new feature will be released?
It would be a big help in the daily use of the IL for our Experts and Workshop managers. Can I help in some ways to make it released faster?
Thanks in advance.

[2018-07-23 16:07] fabian commented on #85
@ailtisWSFR Sorry I was away for meetings last week, I will try to have a look at the changes made by Joni again this week. Hopefully we can then have this released next week.

[2018-07-23 16:07] ailtisWSFR commented on #100
@fabian @PierreAnctil
Any improvement in solving this issue?

[2018-07-24 15:55] fabian commented on #85
@ailtisWSFR @Joni-Aaltonen The new functionality is now available on staging for testing: https://staging-il.worldskills.org/

[2018-07-26 11:39] fabian commented on #85
@ailtisWSFR  Which group of people should I give the permissions for recommending supplied item changes?

[2018-07-26 13:02] ailtisWSFR commented on #85
@fabian The same people who have access to the recommendation at the moment will have access to the supplied item recommendations. ( Experts and Workshop Manager + IL admin)

Also, I've tried the recommending tool on staging and I've noticed two things:
 - First: there is a bug and as soon as I click on the button to make a recommendation, I get the two error messages (see screenshot below) and it

[2018-07-26 13:08] fabian commented on #85
@ailtisWSFR Okay, I've adjusted the permissions, can you try again?

@Joni-Aaltonen Can you adjust it so the "Recommend" button always shows when there the status has the flag `allow_editing`?

[2018-07-26 13:17] ailtisWSFR commented on #85
@fabian Ok, now I only get one error message :
![image](https://user-images.githubusercontent.com/39295271/43264366-393847ea-90e6-11e8-869f-f11258432dff.png)

Also I noticed that informations of the "Requested item "are empty in the window  (not showing the "Description", "Quantity", "Potential supplier" ....) We should have the information that are already saved in the systeme like in the previou

[2018-07-26 13:30] ailtisWSFR commented on #85
@fabian @Joni-Aaltonen Another bug, on the recommendations landing view, the little exclamation point did appear on a recommendation when I've clicked on the "i" button, but the recommendation does not include supplied item changes.

![image](https://user-images.githubusercontent.com/39295271/43265256-877662a0-90e8-11e8-8212-35f6bd6708ec.png)
![image](https://user-images.githubusercontent.com/3929

[2018-07-30 08:31] fabian commented on #85
@Joni-Aaltonen Can you check the bugs reported by Arthur?

[2018-07-30 12:22] Joni-Aaltonen commented on #85
@fabian sure I'll be working tonight and will take a look

[2018-07-30 22:40] Joni-Aaltonen commented on #85
@fabian re: ```Can you adjust it so the "Recommend" button always shows when there the status has the flag allow_editing?```

The prospect isn't showing editing options as it's marked as a `secret` status. By design it does not make sense to allow suggesting changes to an item that is not made public. This is a required feature in WSI competitions. In WSFR this would be made possible if the `secre

[2018-07-30 22:43] Joni-Aaltonen commented on #85
@ailtisWSFR The reason why the details of the "secret" / `prospect` item are left blank is that the print view by design makes it impossible for the user to fetch those details in this view. Secret items are meant to be kept unknown to anyone who uses the "public view".

In your case as mentioned above, we can switch the `prospect` status to be a "non-secret" status, which would solve your problem

[2018-07-30 22:54] Joni-Aaltonen commented on #85
@ailtisWSFR Supplied item details not getting saved was a bug, sorry about that. I've pushed a fix for @fabian to review and deploy. The supplied item details recommended before this patch being deployed unfortunately were not saved, and thus cannot be shown, but the form functions correctly now.

[2018-07-31 07:08] PierreAnctil commented on #106
@fabian I just tried to recommend an addition without potential supplier and that worked fine (despite an error message when selecting the supplied item : *Could not get supplied item: No access to view secret items*). I was also able to validate the recommendation and the new item appeared in the skill view.

@ailtisWSFR can you reproduce the issue in staging? What skill and category are you usin

[2018-07-31 07:50] fabian commented on #85
@ailtisWSFR I've update the status "Prospect" now to not be secret. Editing is now available for it too.

[2018-08-06 10:27] ailtisWSFR commented on #106
@PierreAnctil @fabian
Please see video below regarding the bug on the production IL :

https://www.dropbox.com/s/wyrl8jgfvx8f3xh/Bug%20issue%20106%20LI%20.avi?dl=0

In staging, it is working and I don't have the bug. This is probably because of changes made by @Joni-Aaltonen regarding issue #85 and pushed in staging.
Do we have to wait for the deployment of issue #85 on production or dos the bug n

[2018-08-06 10:30] fabian commented on #106
@ailtisWSFR I will deploy the changes from #85 to production this afternoon.

[2018-08-06 10:44] ailtisWSFR commented on #106
@fabian @Joni-Aaltonen We still have the following bugs regarding issue #85  :
 - An error message appears when clicking on the orange "recommend changes" button saying: "Could not get supplied item: No access to view secret items"
**- Information already saved about the "requested item"  (like "Description", Quantity" or "Potential supplier") not present in the field on the pop-up window to recom

[2018-08-06 10:55] ailtisWSFR commented on #85
@fabian @Joni-Aaltonen See below the video of the bugs :

https://www.dropbox.com/s/qis34smom3e4pv3/BUG%20issue%2085.avi?dl=0

1 - An error message appears when clicking on the orange "recommend changes" button saying: "Could not get supplied item: No access to view secret items"
2 - Information already saved about the "requested item" (like "Description", Quantity" or "Potential supplier") not pr

[2018-08-06 11:01] fabian commented on #85
@ailtisWSFR Okay, will look into this issues before doing a deployment.

[2018-08-06 14:37] ailtisWSFR commented on #85
@fabian It does work now on staging! Thanks.
Two little things remain :
 - In the "Recommendations" tool, when I click on "Modify Recommendation before accepting", I get the "Original" information filed in the window instead of the "Recommended" information.
 - The "Date and time" is weird (maybe because of the "^" in "août"?)
![image](https://user-images.githubusercontent.com/39295271/43722849-8a

[2018-08-06 14:55] fabian commented on #85
@ailtisWSFR Okay, thanks! I will try to have a look at those small issues, currently planning to deploy to production tomorrow.

[2018-08-07 08:44] PierreAnctil commented on #28
We pushed a proof of concept of envers with user tracking in branch [feature/#40](https://github.com/worldskills/API-Infrastructure-List/tree/feature/%2340).
The changes in table `item_category` are tracked and a `person_id` is saved each time.
An action could be saved in the same way.
The username is just a constant for now since changed would probably be required in [WorldSkills-Java-Lib](https:

[2018-08-07 10:48] fabian commented on #85
@ailtisWSFR I think I was able to fix both problems on staging now, can you do a quick check again?

[2018-08-08 00:51] gbervik commented on #28
@PierreAnctil we have used envers with user tracking in another project. You can get the user information like this:
[code]
The challenge is going to be handling all the use cases for querying and displaying the data.

[2018-08-08 13:16] ailtisWSFR commented on #85
@fabian Thanks, both bugs have been fixed!

Regarding dropping files in "Files and Pictures", the suggestion does work and the files charged when you click on "Save item" at the end.

The only things are that :
-  you don't see files already put in when you "Recommend a modification"
 - In "Recommendations" tool, when you click on the files, the redirection doesn't work and you get a "404 Not Foun

[2018-08-08 13:25] fabian opened #118 "Files in recommendation"
Also, the "Modify Recommendation before accepting" doesn't show the file.
And finally, when you accept the modification, you get both files for the item (which is good, it mean that you don't lose information...)

[2018-08-08 13:25] fabian commented on #85
@ailtisWSFR Perfect, thanks! I have copied those issues into https://github.com/worldskills/worldskills-infrastructure-list/issues/118.

Will deploy this afternoon and close this issue once done!

[2018-08-08 13:44] fabian commented on #85
Deployed.

[2018-08-08 13:44] #85 closed

[2018-08-08 14:46] ailtisWSFR commented on #118
@fabian I noticed a display bug on the production IL :
 - In the "Recommendations "tool, the title of the popup window and buttons at the bottom:
![image](https://user-images.githubusercontent.com/39295271/43844576-61c4d14e-9b2a-11e8-877c-7346d6cb84c4.png)

![image](https://user-images.githubusercontent.com/39295271/43844602-6e7adaf0-9b2a-11e8-8071-0ad2d13e03cc.png)

 - In the popup window when "R

[2018-08-09 10:36] ailtisWSFR commented on #118
@fabian Display bug apparently solved. Thanks.

[2018-08-09 11:08] fabian commented on #118
This was probably because the translation files were cached by your browser.

[2018-08-10 11:01] ailtisWSFR commented on #118
@fabian New bug :
In the "Recommendations" tool, when you try to accept a suggestion of Suppression, you get the message below :
![image](https://user-images.githubusercontent.com/39295271/43954498-0ba999d8-9c9d-11e8-980a-40392eef3776.png)
And when you refresh the page, the recommendation as disappeared and is done in the IL of the skills.

[2018-08-15 12:36] fabian commented on #24
![screenshot 2018-08-15 14 35 46](https://user-images.githubusercontent.com/13346/44148408-9134d7da-a098-11e8-8e5f-4259dfe2bff4.png)

[2018-08-15 13:02] fabian commented on #98
![screenshot 2018-08-15 15 01 37](https://user-images.githubusercontent.com/13346/44149370-2558d1e8-a09c-11e8-8bd0-b5d6fcdd3ff1.png)

[2018-08-20 16:13] fabian commented on #106
@ailtisWSFR With the changes from #85 now deploy on production do you still see this issue?

[2018-08-21 13:34] ailtisWSFR commented on #106
@fabian Issue solved with the changes from # 85! I think that you can close this issue now.
Thanks

[2018-08-21 13:34] #106 closed

[2018-09-12 07:45] ailtisWSFR opened #120 "“Recommendations” managing tool slow-down"
Hi,
After our last technical meeting last Friday, we had a huge amount of recommendations made by our experts and workshop managers.
Now that we want to accept or refuse recommendations, we noticed big lags and slow-down from the “Recommendations” managing tool. We sometimes must wait 20 sec after clicking on a button, a lot of screen frizz and so on …

Thanks in advance!

[2018-09-13 07:38] ailtisWSFR commented on #120
@fabian @Joni-Aaltonen
To add information about this issue :

 - the page freeze when we try to accept a suppression. We need to refresh the page to have access again. See video below (and you will also see the time that it take to charge the "recommendations" page)
https://www.dropbox.com/s/3l8j7650lhmngwn/SUGGsup.avi?dl=0

 - An error message appears when we try to "Modify Recommendation before

[2018-09-13 16:38] ailtisWSFR commented on #120
Just to give you an idea of how slow the system goes :
https://www.dropbox.com/s/wicdfjaz537mhm9/SUGGslow.avi?dl=0

It becomes really handicapping when you have more than a 100 recommendations to treat and when you miss the line you want to click on since it takes 20 sec for the system to treat lines you've done before. Imagine when you go fast and treat lines one after the other, not waiting that

[2018-09-13 16:53] ailtisWSFR commented on #120
With those 2 minutes of our work trying to accept recommendations, you will get a better idea of what I mean ... :
https://www.dropbox.com/s/xdm01zb18w2xgy3/SUGGtravail.avi?dl=0

[2018-09-13 17:17] fabian commented on #120
@ailtisWSFR I will have a look at this issue tomorrow!

[2018-09-14 11:16] fabian commented on #120
@ailtisWSFR I had a look at the recommendations page and made the following changes:

- Fixed accepting deleted item.
- Do not scroll to the top when accepting or rejecting changes.
- Fixed issue with accepting changes from a different browser language.

These changes are now on the staging environment and I will deploy them to the production environment on Monday.

Unfortunately I was not able to

[2018-09-14 12:11] PierreAnctil commented on #120
@fabian we did test with tens of recommendations but I am not sure we went up to 100.

[2018-11-06 14:38] fabian commented on #116
Added in https://github.com/worldskills/worldskills-infrastructure-list/commit/a2fbef6f67a30d2d4aaf8fd5b06283338e597e06.

[2018-11-06 14:38] #116 closed

[2018-11-06 14:52] fabian commented on #113
Fixed in https://github.com/worldskills/worldskills-infrastructure-list/commit/591aeeed3b0f8eceec44f65bb4f13aace43d2aad.

[2018-11-06 14:52] #113 closed

[2018-11-08 08:02] ailtisWSFR opened #122 "Imposibility to delete a Requested Items"
Hi,
I noticed today that on the "Skill View" the delete button doesn't work when you which to delete a Requested Item. (red cross)
When you click, you get the popup message "Are you sure, this will also remove any potential child-items?" but when I click on "OK", nothing is happening, even when I refresh the page.

![image](https://user-images.githubusercontent.com/39295271/48185224-aa506480-e334-

[2018-11-08 10:55] fabian commented on #122
@ailtisWSFR Thanks for the report! I've pushed now a fix for this, can you confirm it works now?

[2018-11-08 11:00] fabian commented on #122
Okay, just got another error report, looks like it's not totally fixed yet… 😉

[2018-11-08 11:30] ailtisWSFR commented on #122
@fabian It does work now! Thanks a lot!

[2018-11-08 12:37] #122 closed

[2019-01-26 13:11] fabian opened #123 "Enable inline editing of Supplier in Catalog view"
Fetch Suppliers, add dropdown in grid

[2019-02-22 15:40] #28 closed

[2019-04-01 08:36] #114 closed

[2019-05-10 06:42] fabian opened #124 "Make secret a separate field not a status"

[2019-05-13 13:42] #24 closed

[2019-05-14 08:18] fabian commented on #87
Solved with a manual check of contracts in Dropbox.

[2019-05-14 08:18] #87 closed

[2019-05-14 08:27] #10 closed

[2019-12-30 10:54] ailtisWSFR opened #127 "Recommendations appear multiple times"
Hi @fabian
When a user makes a recommendation, it appears multiple times in the system as shown in the video linked below.
https://www.dropbox.com/s/fpcmn2i80dvj0fz/Test%20bug1%20LI%20WSFR.avi?dl=0

[2020-01-06 11:14] fabian commented on #127
@ailtisWSFR Ah yes sorry, this bug was introduced with some optimizations for the Recommendations page I did at the end of last year.

Can you confirm it's fixed now?

[2020-01-06 17:32] ailtisWSFR commented on #127
@fabian Great, it does seem to have disappeared.
Thanks for the fix!

[2020-01-06 17:33] #127 closed

[2020-03-18 07:58] fabian commented on #124
Implemented and deployed.

[2020-03-18 07:58] #124 closed

[2020-06-16 17:09] #30 closed

[2020-06-16 17:09] #26 closed